<%= form_with  do |form| %>
  <div class="form-group text-center">
    <p class="mb-2">Please <a href="/users/sign_in">login</a> or enter your email</p>
    <%= form.text_field :email, class:"form-control-email", id:"app-email", placeholder: "Email" %>
    <%#= form.text_field :name, onclick: 'logout_map_price()', class:"form-control", id:"app-email", placeholder: "Email" %>
  </div>
  <div class="text-center">
    <span onclick="logout_map_price()" class="btn btn-primary text-white">Send</span>
  </div>
<% end %>

<script>

    function logout_map_price() {
        var email_value = $("#app-email").val()
        $(document).ready(function(){
            $.ajax({
                type: "GET",
                contentType: "application/json",
                url: "/logout_map_price/:id",
                data:{
                    product_id: '<%= @product.id %>',
                    email: email_value
                },
                success:function(data){
                    console.log(data)

                }
            });
        });

        const removeModel = document.querySelector('.model-notify-app');
        removeModel.setAttribute('style', 'visibility:hidden;');
        const getActiveModal = document.querySelectorAll('.fa .fa-envelope');

        // setTimeout(() => {
        //   document.querySelector('.model-content-app').innerHTML = 'Processing...';
        //   setTimeout(() => {

        //   }, 2000);
        // });
        // alert(getActiveModal)
        console.log(event.target)
    };



</script>
