<section class="mb-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="card h-100" >
          <div class="card-body text-center">
            <a href="#"><%= image_tag "card-centre.jpg", :class => 'card-img-centre h-100 w-100' %></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card h-100" >
          <div class="card-body text-center">

            <a href="https://www.uslawshield.com/?affid=a00fff3c-944f-11e9-a753-02fcb63ac2fe">
            <%= image_tag "USLS Banner.png" ,:class => 'card-img-centre h-100 w-100'%>
            </a>

            <%#= image_tag "nra-flag.png" ,:class => 'card-img-centre h-100 w-100'%>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card h-100" >
          <div class="card-body text-center">

            <a href="https://gunfeed.com/"><%= image_tag "secondLogo.jpeg", :class => 'card-img-centre h-100 w-100' %></a>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>