<section class="mb-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="card h-100" >
          <div class="card-body text-center">
            <a href="#"><%= image_tag "card-centre.jpg", :class => 'card-img-centre h-100 w-100' %></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card h-100" >
          <div class="card-body text-center">

            <a href="https://brandfolder.com/uslawshield/marketing-materials-2a-partners?locale=tr">
            <%= image_tag "USLS Banner.png" ,:class => 'card-img-centre h-100 w-100'%>
            </a>

            <%#= image_tag "nra-flag.png" ,:class => 'card-img-centre h-100 w-100'%>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card h-100" >
          <div class="card-body text-center">
            <div class="caliber-listing-header">
              <div class="caliber-listing-logo">
                <a href="#" target="_blank"></a>
              </div>
            </div>
            <div class="caliber-listing-content">
              <ul>
                <li class="mt-0">
                  <a href="#" target="_blank">22 LR
                    <span>from
                      <strong>$0.06/rd</strong>
                    </span>
                  </a>
                </li>
                <li>
                  <a href="#" target="_blank">9mm
                    <span>from
                      <strong>$0.24/rd</strong>
                    </span>
                  </a>
                </li>
                <li>
                  <a href="#" target="_blank">22 WMR
                    <span>from
                      <strong>$0.22/rd</strong>
                    </span>
                  </a>
                </li>
                <li>
                  <a href="#" target="_blank">223 / 5.56
                    <span>from
                      <strong>$0.29/rd</strong>
                    </span>
                  </a>
                </li>
                <li>
                  <a href="#" target="_blank">45 ACP
                    <span>from
                      <strong>$0.42/rd</strong>
                    </span>
                  </a>
                </li>
                <li>
                  <a href="#" target="_blank">40 S&amp;W
                    <span>from
                      <strong>$0.29/rd</strong>
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>