<section class="compaire-price my-5 search-dropdown2" id="html-show">
  <div class="container">
    <div class="row">

      <div class="col-lg-10 ">
        <div class="horizontal-scrollable h-50 card">
          <div class=" p-1">
            <h6 class="">SUGGESTED PRODUCTS</h6>
            <div class="product-basic-info-card">
              <div class="product-basic-info-card__image-container">
                <div class="product-basic-info-card__image" style="width:150px; height:140px">
                  <img src="https://gun.deals/sites/default/files/guns_catalog/806703912295_5d0bfc01df80d.jpg" alt="CZ CZ P-01 Omega Convertible 9mm 91229" itemprop="image" class="img-fluid">
                </div>
              </div>
              <div class="product-basic-info-card__main-content">
                <div class="product-basic-info-card__main-content__title">
                  <h5 id="search-title" itemprop="name">UAR-F</h5>
                </div>
                <div class="product-basic-info-card__specification search-dropdown-list">
                  <dl class="definition-list collapse" id="specifications">
                    <div>
                      <dd>Brand</dd>
                      <dt>
                        <span>UnBranded-AR</span>
                      </dt>
                    </div>
                    <div>
                      <dd>MPN</dd>
                      <dt>
                        <span itemprop="gtin12">806703912295</span>
                      </dt>
                    </div>
                    <div>
                      <dd>Caliber</dd>
                      <dt>9mm</dt>
                    </div>
                    <div>
                      <dd>From</dd>
                      <dt>$80.99</dt>
                    </div>
                  </dl>
                </div>
              </div>
            </div>
          </div>
          <div class=" p-1">
            <div class="product-basic-info-card">
              <div class="product-basic-info-card__image-container">
                <div class="product-basic-info-card__image" style="width:150px; height:140px">
                  <img src="https://gun.deals/sites/default/files/guns_catalog/806703912295_5d0bfc01df80d.jpg" alt="CZ CZ P-01 Omega Convertible 9mm 91229" itemprop="image" class="img-fluid">
                </div>
              </div>
              <div class="product-basic-info-card__main-content">
                <div class="product-basic-info-card__main-content__title">
                  <h5 itemprop="name">UAR-F</h5>
                </div>
                <div class="product-basic-info-card__specification search-dropdown-list">
                  <dl class="definition-list collapse" id="specifications">
                    <div>
                      <dd>Brand</dd>
                      <dt>
                        <span>UnBranded-AR</span>
                      </dt>
                    </div>
                    <div>
                      <dd>MPN</dd>
                      <dt>
                        <span itemprop="gtin12">806703912295</span>
                      </dt>
                    </div>
                    <div>
                      <dd>Caliber</dd>
                      <dt>9mm</dt>
                    </div>
                    <div>
                      <dd>From</dd>
                      <dt>$80.99</dt>
                    </div>
                  </dl>
                </div>
              </div>
            </div>
          </div>
          <div class=" p-1">
            <div class="product-basic-info-card">
              <div class="product-basic-info-card__image-container">
                <div class="product-basic-info-card__image" style="width:150px; height:140px">
                  <img src="https://gun.deals/sites/default/files/guns_catalog/806703912295_5d0bfc01df80d.jpg" alt="CZ CZ P-01 Omega Convertible 9mm 91229" itemprop="image" class="img-fluid">
                </div>
              </div>
              <div class="product-basic-info-card__main-content">
                <div class="product-basic-info-card__main-content__title">
                  <h5 itemprop="name">UAR-F</h5>
                </div>
                <div class="product-basic-info-card__specification search-dropdown-list">
                  <dl class="definition-list collapse" id="specifications">
                    <div>
                      <dd>Brand</dd>
                      <dt>
                        <span>UnBranded-AR</span>
                      </dt>
                    </div>
                    <div>
                      <dd>MPN</dd>
                      <dt>
                        <span itemprop="gtin12">806703912295</span>
                      </dt>
                    </div>
                    <div>
                      <dd>Caliber</dd>
                      <dt>9mm</dt>
                    </div>
                    <div>
                      <dd>From</dd>
                      <dt>$80.99</dt>
                    </div>
                  </dl>
                </div>
              </div>
            </div>
          </div>
          <div class=" p-1">
            <div class="product-basic-info-card">
              <div class="product-basic-info-card__image-container">
                <div class="product-basic-info-card__image" style="width:150px; height:140px">
                  <img src="https://gun.deals/sites/default/files/guns_catalog/806703912295_5d0bfc01df80d.jpg" alt="CZ CZ P-01 Omega Convertible 9mm 91229" itemprop="image" class="img-fluid">
                </div>
              </div>
              <div class="product-basic-info-card__main-content">
                <div class="product-basic-info-card__main-content__title">
                  <h5 itemprop="name">UAR-F</h5>
                </div>
                <div class="product-basic-info-card__specification search-dropdown-list">
                  <dl class="definition-list collapse" id="specifications">
                    <div>
                      <dd>Brand</dd>
                      <dt>
                        <span>UnBranded-AR</span>
                      </dt>
                    </div>
                    <div>
                      <dd>MPN</dd>
                      <dt>
                        <span itemprop="gtin12">806703912295</span>
                      </dt>
                    </div>
                    <div>
                      <dd>Caliber</dd>
                      <dt>9mm</dt>
                    </div>
                    <div>
                      <dd>From</dd>
                      <dt>$80.99</dt>
                    </div>
                  </dl>
                </div>
              </div>
            </div>
          </div>
          <div class=" p-1">
            <div class="product-basic-info-card">
              <div class="product-basic-info-card__image-container">
                <div class="product-basic-info-card__image" style="width:150px; height:140px">
                  <img src="https://gun.deals/sites/default/files/guns_catalog/806703912295_5d0bfc01df80d.jpg" alt="CZ CZ P-01 Omega Convertible 9mm 91229" itemprop="image" class="img-fluid">
                </div>
              </div>
              <div class="product-basic-info-card__main-content">
                <div class="product-basic-info-card__main-content__title">
                  <h5 itemprop="name">UAR-F</h5>
                </div>
                <div class="product-basic-info-card__specification search-dropdown-list">
                  <dl class="definition-list collapse" id="specifications">
                    <div>
                      <dd>Brand</dd>
                      <dt>
                        <span>UnBranded-AR</span>
                      </dt>
                    </div>
                    <div>
                      <dd>MPN</dd>
                      <dt>
                        <span itemprop="gtin12">806703912295</span>
                      </dt>
                    </div>
                    <div>
                      <dd>Caliber</dd>
                      <dt>9mm</dt>
                    </div>
                    <div>
                      <dd>From</dd>
                      <dt>$80.99</dt>
                    </div>
                  </dl>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
  <script>
      function showHtmlDiv() {
          var htmlShow = document.getElementById("html-show");
          if (htmlShow.style.innerHTML === "") {
              htmlShow.style.display = "none";
          } else {
              htmlShow.style.display = "block";

          }
      }
  </script>
</section>