<div class="card card--filters js-page-filters card--filters-sidebar card--sidebar-xs card--sidebar-sm p-3">
  <div class="card__title">
    <h3 class="visible-xs-block visible-sm-block d-none">Filter In Stock Handgun Deals</h3>
  </div>
  <div class="card__actions d-none">
    <button class="visible-xs-block visible-sm-block btn btn-unstyled card__close-sidebar js-close-card-sidebar">Close</button>
    <button class="visible-xs-block visible-sm-block btn btn-unstyled js-page-reload-reset ">Reset</button>
  </div>


  <div class="card__content">
    <form action="">
      <div class="filters filters--categories filters--sidebar">
        <div class="form-group filters__container ">
          <label for="ddlSelects2" class="filters__selects-label filters__label"> Categories </label>
          <select class="form-select form-select-md mb-3" aria-label=".form-select-lg example">
            <optgroup label="All categories">
              <option selected>Choose an option</option>
              <option value="5">Accessories</option>
              <option value="4">Ammo</option>
              <option value="400731">Archery</option>
              <option value="263056">Gun Parts</option>
              <option value="2">Handguns</option>
              <option value="2469">Knives</option>
              <option value="619351">NFA</option>
              <option value="619336">Optics and Sights</option>
              <option value="77844">Reloading</option>
              <option value="3">Rifles</option>
              <option value="45">Shotguns</option>
            </optgroup>


          </select>
        </div>
        <div class="form-group filters__container ">
          <label for="ddlSelects1" class="filters__selects-label filters__label"> Calibers </label>
          <select class="form-select form-select-md mb-3" aria-label=".form-select-lg example">
            <option selected>Choose an option</option>
            </option>
            <optgroup label="Popular">
              <option value="1">9mm</option>
              <option value="2">40 S&amp;W</option>
              <option value="3">22 LR</option>
              <option value="4">45 ACP</option>
              <option value="5">380 ACP</option>
              <option value="10">7.62x39mm</option>
              <option value="11">223/5.56</option>
              <option value="13">357 Mag</option>
              <option value="15">38 Special</option>
              <option value="17">10mm</option>
              <option value="21">22 WMR</option>
              <option value="36">5.7x28mm</option>
              <option value="78">300 BLK</option>
            </optgroup>
            <optgroup label="All">
              <option value="17">10mm</option>
              <option value="408">17 HM2</option>
              <option value="38">17 HMR</option>
              <option value="411">22 CB</option>
              <option value="2301">22 Jet</option>
              <option value="3">22 LR</option>
              <option value="409">22 Long</option>
              <option value="3536">22 Nosler</option>
              <option value="410">22 Short</option>
              <option value="416">22 TCM</option>
              <option value="21">22 WMR</option>
              <option value="1736">22 WRF</option>
              <option value="11">223/5.56</option>
              <option value="18">25 ACP</option>
              <option value="2516">25 NAA</option>
              <option value="2521">256 Win Mag</option>
              <option value="28">30 Carbine</option>
              <option value="430">30 Luger</option>
              <option value="4656">30 Super Carry</option>
              <option value="78">300 Blackout</option>
              <option value="20">308/7.62x51mm</option>
              <option value="19">32 ACP</option>
              <option value="1096">32 H&amp;R</option>
              <option value="1101">32 NAA</option>
              <option value="1106">32 S&amp;W</option>
              <option value="1886">32 S&amp;W Long</option>
              <option value="1111">32 Short Colt</option>
              <option value="2531">320 Long</option>
              <option value="2526">320 Short</option>
              <option value="30">327 Federal</option>
              <option value="2536">356 TSW</option>
              <option value="13">357 Mag</option>
              <option value="2316">357 Rem Max</option>
              <option value="14">357 Sig</option>
              <option value="2541">375 JDJ</option>
              <option value="2546">38 ACP</option>
              <option value="2331">38 Long Colt</option>
              <option value="1116">38 S&amp;W</option>
              <option value="1121">38 S&amp;W Short</option>
              <option value="3526">38 Short Colt</option>
              <option value="15">38 Special</option>
              <option value="29">38 Super</option>
              <option value="1126">38-40</option>
              <option value="5">380 ACP</option>
              <option value="2551">380 Long</option>
              <option value="2166">4.6x30mm H&amp;K</option>
              <option value="2">40 S&amp;W</option>
              <option value="2556">40 Super</option>
              <option value="1131">400 Corbon</option>
              <option value="2311">41 Long Colt</option>
              <option value="1136">41 Rem Mag</option>
              <option value="8">410</option>
              <option value="2561">44 Auto Mag</option>
              <option value="2341">44 Colt</option>
              <option value="16">44 Mag</option>
              <option value="1141">44 Russian</option>
              <option value="43">44 Special</option>
              <option value="2566">440 Cor-Bon</option>
              <option value="2571">445 Super Mag</option>
              <option value="4">45 ACP</option>
              <option value="2576">45 Auto Rim</option>
              <option value="42">45 GAP</option>
              <option value="33">45 Long Colt</option>
              <option value="1146">45 Schofield</option>
              <option value="2581">45 Special</option>
              <option value="2586">45 Super</option>
              <option value="2326">45 Win Mag</option>
              <option value="255">45-70</option>
              <option value="2596">450 AutoBond</option>
              <option value="424">450 Bushmaster</option>
              <option value="4611">450 Marlin</option>
              <option value="2591">450 Short</option>
              <option value="414">454 Casull</option>
              <option value="1151">455 Webley</option>
              <option value="2281">460 Rowland</option>
              <option value="415">460 S&amp;W</option>
              <option value="2276">475 Linebaugh</option>
              <option value="2601">475 Wildey Mag</option>
              <option value="1156">480 Ruger</option>
              <option value="26">5.45x39mm</option>
              <option value="36">5.7x28mm</option>
              <option value="32">50 AE</option>
              <option value="2606">50 GI</option>
              <option value="2286">500 Linebaugh</option>
              <option value="413">500 S&amp;W</option>
              <option value="2611">500 S&amp;W Special</option>
              <option value="2336">500 Wyoming Express</option>
              <option value="27">6.8mm SPC</option>
              <option value="5336">7.5 FK</option>
              <option value="31">7.62 Nagant</option>
              <option value="9">7.62x25mm</option>
              <option value="10">7.62x39mm</option>
              <option value="1161">7.63 Mauser</option>
              <option value="2321">8mm Gasser</option>
              <option value="1166">8mm Steyr</option>
              <option value="2306">8x22mm Nambu</option>
              <option value="1">9mm</option>
              <option value="1171">9mm Steyr</option>
              <option value="35">9x18mm</option>
              <option value="2616">9x18mm Ultra</option>
              <option value="2296">9x21mm</option>
              <option value="2621">9x23mm Largo</option>
              <option value="2441">9x23mm Win</option>
              <option value="2626">9x25mm Dillon</option>
              <option value="3531">9x25mm Mauser</option>
              <option value="248">Black Powder</option>
              <option value="22">Combo</option>
            </optgroup>
          </select>
        </div>

        <div class="form-group filters__container ">
          <label for="ddlSelects2" class="filters__selects-label filters__label"> Brands </label>
          <select class="form-select form-select-md mb-3" aria-label=".form-select-lg example">
            <option selected>Choose an option</option>
          </select>
        </div>
        <div class="form-group filters__container ">
          <label for="ddlSelects3" class="filters__selects-label filters__label"> Stores </label>
          <select class="form-select form-select-md mb-3" aria-label=".form-select-lg example">
            <option selected>Choose an option</option>
          </select>
        </div>

      </div>
      <button class="js-page-reload-submit btn btn-primary px-2 py-1" disabled="">Apply filters</button>
      <button class="js-page-reload-reset btn btn-default hidden-xs hidden-sm px-2 py-1 text-white">Reset</button>

    </form>
  </div>
</div>