<div class="side_ads">
  <a href="https://www.uslawshield.com?affid=a00fff3c-944f-11e9-a753-02fcb63ac2fe" target="_blank"
     class="side__bar--banner d-flex justify-content-center align-items-center"><img
    src="https://www.uslawshield.com/media/us/banners/Generic1-Skyscraper-120x600-LT.png" alt="Sign up for U.S.
        LawShield" class="h-60" ></a>
</div>