
  <section>
    <div class="container">
      <div class="add-section add-banner-section">
      </div>
    </div>
  </section>
  <!--------------------- dealer advertising section start here ---------------------  -->
  <section class="dealer-advertising mb-4">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="card p-3">
            <div class="card__title">
              <h1>Dealers &amp; Advertising</h1>
            </div>
            <div class="card__content">
              <p>
                <br>
              </p>
              <h2>Banner Ads</h2>
              <p>If you are interested in banner ads, you may place your
                <a href="#" target="_blank">banner order
                  here</a>.
                <br>
                <br>
                <br>
                <br>
              </p>
              <h2>Shopping comparison program</h2>
              <p>To participate in our shopping comparison program, please complete our monthly recurring
                subscription here
                <a href="#" target="_blank">our monthly
                  recurring subscription here</a>. These subscriptions include the first 2500 clicks
                per month, clicks over these amounts will be billed monthly 25cents per click over your
                subscription clicks.
              </p>
              <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <br>
                <input type="hidden" name="hosted_button_id" value="CZARU4NTEFP2Y">
                <p></p>
                <table>
                  <tbody>
                  <tr>
                    <td>
                      <input type="hidden" name="on0"
                             value="Shopping Comparison Subscription">Shopping Comparison
                      Subscription
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <select class="form-select" aria-label="Default select example"
                              style="width: 365px;">
                        <option selected>Monthly subscription : $499.99 USD - monthly
                        </option>
                        <option selected>Monthly subscription : $499.99 USD - yearly
                        </option>
                      </select>
                    </td>
                  </tr>
                  </tbody>
                </table>
                <p>
                  <input type="hidden" name="currency_code" value="USD">
                  <br>
                  <input type="image"
                         src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif"
                         name="submit" alt="PayPal - The safer, easier way to pay online!">

                </p>
              </form>
              <p>
                <br>
                <br>Follow these
                <a href="#"
                   target="_blank">instructions</a>, and after completing the subscription, email us
                your Product Feed URL and we will set everything up. If you do not have a product feed,
                we may be able to create and maintain a product feed for you. This plan will
                automatically bill your credit card on file and renew each month until you cancel it. We
                will not issue refunds for past or unused months. We reserve the right to modify pricing
                in the future (in this case we would notify you in advance). We do not provide phone
                support, email us or use the contact us form with any questions.
              </p>
              <h2>Vendor Postings - 1 deal post every 3 days</h2>
              <p>To post deals to our website, please complete this
                <a href="#"
                   target="_blank">monthly subscription ($399.99)</a>,
                <a href="#" target="_blank">Annual Subscription with 10%
                  discount ($4319.90)</a>. Please read our terms carefully. We do not provide phone
                support, email us, or use the contact us form with any questions. This plan will renew
                automatically unless you cancel your subscription. With this monthly plan Industry
                Partners or Dealers will be allowed to post or bump one (1) deal/offer every 3 (three)
                days on gun.deals.
              </p>
              <h2>Vendor Postings - 1 deal post every week (every 7 days)</h2>
              <p>To post 1 deal per week, please complete this
                <a href="#"
                   target="_blank">monthly subscription ($249.99)</a>. This plan will renew
                automatically unless you cancel your subscription. With this monthly plan Industry
                Partners or Dealers will be allowed to post or bump one (1) deal/offer every 7 (seven)
                days on gun.deals.
              </p>
              <p>Postings will be marked as "Paid Dealer Posting". Posts will remain in your store and
                category pages as long as your post is valid (including prices, stock status, and links)
                and your subscription is valid. Standard rules apply to paid postings: Price has to be
                the lowest online. Overpriced "deals" will be deleted. We reserve the right to end
                subscriptions at any time. Once we receive the payment, please email us your username on
                gun.deals to office at gun.deals, and your account will be upgraded within 24 hours.
                Featured Deals (Deals on the top of the front page) are off-limits to dealers. Featured
                deals are automatically calculated and added based on popularity, rating, and the number
                of clicks and views. We will not remove any user-submitted comments unless they are
                offensive. Please do not request comment removal. Giveaways are not allowed. This plan
                will automatically bill your credit card on file and renew each month until you cancel
                it. We will not issue refunds for past or unused months. We reserve the right to modify
                pricing in the future (in this case we would notify you in advance). We do not provide
                phone support, email us, or use the contact us form with any questions.</p>
              <h2>Sponsored Deals</h2>
              <p>Sponsored deals are available to our affiliate partners only!</p>
              <h2>Affiliate Program</h2>
              <p>Increase your sales by 500% with an affiliate program. If your web store offers an
                affiliate program thru some of the affiliate networks such as AvantLink, Commission
                Junction, ShareASale, PepperJam, or your own in-house affiliate program, please contact
                us and we will work out the details. Most subscriptions would be included for free with
                the affiliate program.</p>
              <h2>Moderator service</h2>
              <p>We are now offering moderator service for the most popular and reputable stores. This
                service is for large-scale businesses that focus on volume. Our moderators will search
                for your best firearm deals and post them each day to our web page. These deals may also
                be featured on our Facebook, Twitter, and other marketing channels. We can only post
                absolutely best prices online, no exceptions. Only web stores that constantly offer
                deals qualify for this service. These subscriptions are in addition to your "Shopping
                Comparison" and "Vendor Postings" subscriptions which are required. The price of this
                subscription includes the first 5000 clicks, after which the price is 25cents per click.
                This plan will automatically bill your credit card on file and renew each month until
                you cancel it. We will not issue refunds for past or unused months. We reserve the right
                to modify pricing in the future (in this case we would notify you in advance). We do not
                provide phone support, email us or use the contact us form with any questions.</p>
              <p>
                <a href="#" target="_blank">Monthly Recurring Subscription
                  - 1 Moderator Posts per Day ($999.99)</a>
              </p>
              <h2>Dealer API Access</h2>
              <p>Compare and optimize your pricing for best exposure on gun.deals and online</p>
              <p>To access paid dealers API subscription, you will need an API key. For obtaining your API
                key, please complete the monthly recurring subscription for your desired API</p>
              <p>- Top products</p>
              <p>Prices for topmost popular products on gun.deals website.</p>
              <p>
                <a href="#" target="_blank">Monthly Recurring Subscription
                  for Top 150 most viewed products only ($399.99 per month)</a>
              </p>
              <p>http://api.gunengine.com/api/dealers/v1/top-products?api_key={API_KEY}&amp;total_results={INT}
                <br>- api_key (required)
                <br>- total_results (optional, default: 5)
              </p>
              <p>- Prices by UPC - Full Access to entire database
                <br>Get prices for one or million products by UPC.
                <br>
                <a href="#" target="_blank">Monthly Recurring Subscription
                  for Full Access to entire database ($699.99 per month)</a>
              </p>
              <p>http://api.gunengine.com/api/dealers/v1/search-by-upc?api_key={API_KEY}&amp;upc={UPC}&amp;total_results={INT}
                <br> - api_key (required)
                <br> - upc (required)
                <br> - total_results (optional, default: 5)
              </p>
              <p>List of vendor IDs
                <br>http://api.gunengine.com/api/dealers/v1/merchant-list?api_key={API_KEY}
              </p>
              <p>Return results from selected vendor only
                <br>http://api.gunengine.com/api/dealers/v1/search-by-upc?api_key={API_KEY}&amp;upc={UPC}&amp;merchant={merchant
                ID}
              </p>
              <p>Please contact us if you would like to enable URLs from vendors in the API call</p>
              <p>Here is an example of the UPC API results
                <br>{"count":20,"upc":"736676011513","products":[{"storeName":"Deguns.net","price":"207.00"},{"storeName":"Gunprime","price":"208.00"},{"storeName":"Sportsman's
                Guide","price":"209.99"},{"storeName":"Locked
                Loaded","price":"212.98"},{"storeName":"Smoky Mountain Guns &amp;
                Ammo","price":"214.99"},{"storeName":"Guns
                Midwest","price":"219.00"},{"storeName":"Academy Sports &amp;
                Outdoors","price":"219.99"},{"storeName":"Omaha
                Outdoors","price":"225.00"},{"storeName":"Guns
                Midwest","price":"226.91"},{"storeName":"Guns
                Midwest","price":"226.91"},{"storeName":"Guns
                Midwest","price":"226.91"},{"storeName":"National Gun Owner Association &amp; Buyers
                Club","price":"226.99"},{"storeName":"Peak
                Firearms","price":"229.00"},{"storeName":"Shoot
                Straight","price":"229.00"},{"storeName":"Bass Pro
                Shops","price":"229.99"},{"storeName":"Sportsmans Outdoor
                Superstore","price":"229.99"},{"storeName":"Tombstone
                Tactical","price":"232.09"},{"storeName":"Guns for
                Gals","price":"232.89"},{"storeName":"R&amp;R Sports &amp;
                Outdoors","price":"233.99"},{"storeName":"Bear Arms Munitions","price":"233.99"}]}
              </p>
              <p>you can customize the number of results, URLs, or no URLs and we can do some custom
                features if you need them...</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!--------------------- dealer advertising section end here ---------------------  -->
</div>
<!-- card section two start here  -->
<%= render partial: 'partials/middle_adds' %>
<section class="mb-4">
  <div class="container">
    <div class="row">
      <%= render partial: 'partials/bottom_cards' %>
    </div>
  </div>
</section>
