
  <section>
    <div class="container">
      <div class="add-section add-banner-section">
      </div>
    </div>
  </section>
  <!--------------------- giveaway section start here ---------------------  -->
  <section class="giveaway mb-4">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="card p-3">
            <div class="card__title">
              <h1>Giveaways</h1>
            </div>
            <div class="card__content">
              <div class="e-widget-wrapper ">
                <iframe id="GleamEmbed1choY"
                        src="https://gleam.io/1choY/embed?l=https%3A%2F%2Fgun.deals%2Fcontent%2Fgiveaways&amp;r=https%3A%2F%2Fgun.deals%2Fbanners"
                        allowfullscreen="true" allow="attribution-reporting" title="Competition"
                        frameborder="0"
                        style="position: relative; z-index: 1; visibility: visible; transform: scale(1); height: 895px; border: 2px solid #F8F8F8;"
                        class="GleamEmbed1choY  e-embed-frame" loaded="function  (e) {
                                    if(!newFrame.getAttribute('data-loaded-widget')) {
                                    if(oldArea.parentNode) {
                                        oldArea.parentNode.removeChild(oldArea);
                                    }

                                    newFrame.style.position = 'relative';
                                    newFrame.style.left = '';
                                    newFrame.setAttribute('data-loaded-widget', 'true');
                                    }
                                    }" data-loaded-widget="true"></iframe>
              </div>
              <script async="true" type="text/javascript" src="https://widget.gleamjs.io/e.js"></script>
              <div class="e-widget-wrapper ">
                <iframe id="GleamEmbedDl2JU"
                        src="https://gleam.io/Dl2JU/embed?l=https%3A%2F%2Fgun.deals%2Fcontent%2Fgiveaways&amp;r=https%3A%2F%2Fgun.deals%2Fbanners"
                        allowfullscreen="true" allow="attribution-reporting" title="Competition"
                        frameborder="0"
                        style="position: relative; z-index: 1; visibility: visible; transform: scale(1); height: 733px; border: 2px solid #F8F8F8;"
                        class="GleamEmbedDl2JU  e-embed-frame" loaded="function  (e) {
                                    if(!newFrame.getAttribute('data-loaded-widget')) {
                                    if(oldArea.parentNode) {
                                        oldArea.parentNode.removeChild(oldArea);
                                    }

                                    newFrame.style.position = 'relative';
                                    newFrame.style.left = '';
                                    newFrame.setAttribute('data-loaded-widget', 'true');
                                    }
                                    }" data-loaded-widget="true"></iframe>
              </div>
              <script async="true" type="text/javascript" src="https://widget.gleamjs.io/e.js"></script>
              <div class="e-widget-wrapper ">
                <iframe id="GleamEmbedeQ8U6"
                        src="https://gleam.io/eQ8U6/embed?l=https%3A%2F%2Fgun.deals%2Fcontent%2Fgiveaways&amp;r=https%3A%2F%2Fgun.deals%2Fbanners"
                        allowfullscreen="true" allow="attribution-reporting" title="Competition"
                        frameborder="0"
                        style="position: relative; z-index: 1; visibility: visible; transform: scale(1); height: 845px; border: 2px solid #F8F8F8;"
                        class="GleamEmbedeQ8U6  e-embed-frame" loaded="function  (e) {
                                    if(!newFrame.getAttribute('data-loaded-widget')) {
                                    if(oldArea.parentNode) {
                                    oldArea.parentNode.removeChild(oldArea);
                                    }

                                    newFrame.style.position = 'relative';
                                    newFrame.style.left = '';
                                    newFrame.setAttribute('data-loaded-widget', 'true');
                                    }
                                    }" data-loaded-widget="true"></iframe>
              </div>
              <script async="true" type="text/javascript" src="https://widget.gleamjs.io/e.js"></script>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--------------------- giveaway section end here ---------------------  -->
</div>
<!-- card section two start here  -->
<%= render partial: 'partials/middle_adds' %>
<section class="mb-4">
  <div class="container">
    <div class="row">
      <%= render partial: 'partials/bottom_cards' %>
    </div>
  </div>
</section>
