
  <section>
    <div class="container">
      <div class="add-section add-banner-section">
      </div>
    </div>
  </section>
  <!--------------------- term of services section start here ---------------------  -->
  <section class="term-of-services mb-4">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="card p-3">
            <div class="card__title">
              <h1>Terms of Service</h1>
            </div>
            <div class="card__content">
              <ul class="list-unstyled">
                <li>Apps 47, INC</li>
                <li>P.O. Box 13,</li>
                <li>Germantown, OH 45327-0013</li>
                <li>
                  <a href="mailto:customerservice@gun.deals">customerservice@gun.deals</a>
                </li>
              </ul>
              <p>Welcome to the website of gun.deals, located at (hereinafter “Company, “We”, “Us”, “Our”.) We thank You (any visitor to Our web site and hereinafter "You" or "Your") for visiting Our site and considering Our products and services.</p>
              <p>gun.deals is a site where users and visitors share the best gun related deals that they
                <br> find across the web. gun.deals is not selling firearms, ammunition or accessories. We
                <br> simply browse the web for the best deals available for purchase online or in retail
                <br> stores. Click on the Visit Deal on the product page and it will take you to the seller's
                <br> website where you can purchase that particular product.
              </p>
              <p>By using Our site, or upon Your registration and clicking the button which states “I have read and agree to the Terms of Service, Privacy Policy and the use of Cookies on this website”; You hereby agree to the terms and conditions of this Terms of Service (hereinafter “Agreement”) which, along with the consideration of the mutual promises You and We make to each other, then becomes a binding contract between You and Us.</p>
              <h2>PRIVACY POLICY</h2>
              <p>Our Privacy Policy is located
                <a target="_blank" href="#">here</a> and is hereby incorporated into this Agreement by reference. Please review the Privacy Policy to understand Our policies.
              </p>
              <h2>INTENDED FOR USERS WHO ARE ADULTS</h2>
              <p>Our services are available and may only be used by individuals who have reached the age of majority in Your jurisdiction and older who can form legally binding contracts under applicable law. You represent and warrant that You have reached the age of majority in Your jurisdiction and that all registration information You submit is accurate and truthful. You agree to comply with all local laws regarding online conduct and acceptable content. If You have not reached the age of majority in Your jurisdiction please leave Our web site immediately.</p>
              <h2>USER NAME AND PASSWORDS</h2>
              <p>You hereby agree that You are responsible for all actions taken under Your User Name and Password. Please remember it is Your responsibility to keep this data secure and You hereby agree that We are not liable for any loss or damage arising from Your failure to keep Your password secure. Further, You agree to immediately notify Us of any unauthorized use of Your password or any breach of security.</p>
              <h2>COMMUNITY STANDARDS</h2>
              <ul style="list-style-type: decimal">
                <li>
                  <b>You understand and agree that You will not:</b>
                  <br>
                  <ul style="list-style-type: lower-alpha;">
                    <li>
                      <p>Use Our website to post, upload or transmit any content that is patently offensive, obscene, pornographic, vulgar, unlawful, threatening, defamatory, abusive, tortuous, obscene, libelous, illegal, hateful, harmful, harasses or advocates harassment of another person, invasive of another person’s privacy, exploitive of people in a sexual or violent manner, racially, ethnically or otherwise objectionable or promotes racism, bigotry, hatred or physical harm of any kind against any group or individual.</p>
                    </li>
                    <li>
                      <p>Impersonate another person.</p>
                    </li>
                    <li>
                      <p>Stalk or otherwise harass another; or harm a minor in any way.</p>
                    </li>
                    <li>
                      <p>Promote commercial activities and/or sales such as contests,
                        <br> sweepstakes, barter, or advertising except as provided by the functionality
                        <br> of the site.
                      </p>
                    </li>
                    <li>
                      <p>Post, upload or transmit any unsolicited or unauthorized advertising,
                        <br> promotional materials, junk mail, spam, unsolicited mass mailing, chain
                        <br> letters, or pyramid schemes.
                      </p>
                    </li>
                    <li>
                      <p>Promote an illegal or unauthorized copy of another person’s copyrighted
                        <br> work.
                      </p>
                    </li>
                    <li>
                      <p>Upload, post, transmit or otherwise make available any material that
                        <br> contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipment.
                      </p>
                    </li>
                    <li>
                      <p>Use software that automatically creates user identities.</p>
                    </li>
                    <li>
                      <p>Intentionally or unintentionally violate any applicable local, state, national
                        <br> or international law.
                      </p>
                    </li>
                    <li>
                      <p>Post inaccurate or misleading information.</p>
                    </li>
                    <li>
                      <p>Solicit money from any poster.</p>
                    </li>
                    <li>
                      <p>Use Our website as a security camera or IP camera.</p>
                    </li>
                  </ul>
                </li>
              </ul>
              <p>You understand and agree that You are solely responsible for Your interactions with other visitors and that We reserve the right, but have no obligation, to monitor disputes between You and other visitors. Finally, We may delete data and posts which violate this Agreement; or delete data for any reason or for no reason based on Our sole discretion.</p>
              <p>You understand and agree that user content uploaded to Our website does not necessarily express our opinion.</p>
              <p>Violation of these Community Standards will be punished by Us, in Our sole discretion, with sanctions ranging from a temporary ban from Our website to a permanent ban from Our website.</p>
              <h2>TRADEMARKS</h2>
              <p>We hereby claim gun.dealsTM, and the gun.dealsTM logo to be trademarks of Our Company.</p>
              <h2>COPYRIGHT</h2>
              <p>As indicated by the notice on the bottom of Our Home Page, We claim a copyright to the contents of this website.</p>
              <p>We hereby give you the limited right to use Our logo and Our link to promote Your page on Our site.</p>
              <p>Further, for any content you upload to Our site, while We do not own the content, You hereby grant Us a non-exclusive, transferable, sub-license royalty-free, and a worldwide license to host, use, distribute, modify, run, copy, publicly perform or display, translate, and create derivative works of your content.</p>
              <p>You understand and agree that any suggestions You make to Us for improving or changing Our website are purely voluntary on Your part and no renumeration will be paid if We decide to incorporate Your suggestion.</p>
              <h2>DIGITAL MILLENNIUM COPYRIGHT ACT</h2>
              <p>As provided for in the Digital Millennium Copyright Act. If You feel any content on Our web site violates Your copyrights please contact Our designated agent:</p>
              <p>Apps 47, INC
                <br>P.O. Box 13,
                <br>Germantown, OH 45327-0013
                <br>
                <a href="mailto:customerservice@gun.deals">customerservice@gun.deals</a>
              </p>
              <p>by regular U.S. mail or email with the following information:</p>
              <ul style="list-style-type: decimal;">
                <li>
                  <p>A physical or electronic signature of a person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.</p>
                </li>
                <li>
                  <p>Identification of the copyrighted work claimed to have been infringed, or, if multiple copyrighted works at a single online site is covered by a single notification, a representative list of such works at that site.</p>
                </li>
                <li>
                  <p>Identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit the service provider to locate the material.</p>
                </li>
                <li>
                  <p>Information reasonably sufficient to permit the service provider to contact You, such as an address, telephone number, and, if available, an electronic mail address at which You may be contacted.</p>
                </li>
                <li>
                  <p>A statement that You have a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law.</p>
                </li>
                <li>
                  <p>A statement that the information in the notification is accurate, and under penalty of perjury, that You are authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.</p>
                </li>
              </ul>
              <p>Once We have received Your complaint We will:</p>
              <ul style="list-style-type: decimal;">
                <li>
                  <p>Remove or disable the identified infringing material (but maintain a copy for later use)</p>
                </li>
                <li>
                  <p>Promptly notify the subscriber with a copy to the complaining party that We have removed or disabled access to the material; and</p>
                </li>
                <li>
                  <p>We will inform the subscriber that they may submit a counter-notification regarding the claimed infringing material.</p>
                </li>
              </ul>
              <p>Counter Notification - To be effective under this subsection, a counter notification must be a written communication provided to the service provider's designated agent by regular U.S. mail or email that includes substantially the following:</p>
              <ul style="list-style-type: decimal;">
                <li>
                  <p>A physical or electronic signature of the subscriber.</p>
                </li>
                <li>
                  <p>Identification of the material that has been removed or to which access has been disabled and the location at which the material Appeared before it was removed or access to it was disabled.</p>
                </li>
                <li>
                  <p>A statement under penalty of perjury that the subscriber has a good faith belief that the material was removed or disabled as a result of mistake or misidentification of the material to be removed or disabled.</p>
                </li>
                <li>
                  <p>The subscriber's name, address, and telephone number, and a statement that the subscriber consents to the jurisdiction of Federal District Court for the judicial district in which the subscriber’s address is located, or if the subscriber's address is outside of the United States, for any judicial district in which the service provider may be found, and that the subscriber will accept service of process from the person who provided the counter notification or an agent of such person.</p>
                </li>
              </ul>
              <p>Upon receipt of a counter notification We will promptly provide the complaining party with a copy of the counter notification, and inform that person that We will replace the removed material and cease disabling access to it not less than 10, nor more than 14, business days following receipt of the counter notice, unless Our designated agent first receives notice from the person who submitted the notification that such person has filed an action seeking a court order to restrain the subscriber from engaging in infringing activity relating to the material on the service provider's system or network.</p>
              <h2>WARRANTIES</h2>
              <p class="text-uppercase">
                <b>OUR SERVICE IS PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS. YOU EXPRESSLY AGREE THAT USE OF ANY SERVICE OFFERED BY US IS AT YOUR SOLE RISK. TO THE FULLEST EXTENT PERMISSIBLE PURSUANT TO APPLICABLE LAW, WE DISCLAIM ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION ANY WARRANTY OF MERCHANTABLITY, FITNESS FOR A PARTICULAR PURPOSE OR NON- INFRINGEMENT. WE DO NOT MAKE ANY WARRANTY THAT OUR SERVICE WILL MEET YOUR REQUIREMENTS, OR THAT ANY SERVICE OFFERED BY US WILL BE UNINTERRUPTED, TIMELY, SECURE, OR ERROR FREE, OR THAT DEFECTS, IF ANY, WILL BE CORRECTED; NOR DO WE MAKE ANY WARRANTY AS TO THE RESULTS THAT MAY BE OBTAINED FROM THE USE OF ANY SERVICE OFFERED BY US OR AS TO THE ACCURACY OR RELIABILITY OF ANY INFORMATION OBTAINED THROUGH ANY SERVICE OFFERED BY US. YOU UNDERSTAND AND AGREE THAT ANY MATERIAL AND/OR DATA DOWNLOADED OR OTHERWISE OBTAINED THROUGH THE USE OF ANY SERVICE OFFERED BY US IS AT YOUR OWN DISCRETION AND RISK, AND THAT YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER SYSTEM OR LOSS OF DATA THAT RESULTS FROM THE DOWNLOAD OF SUCH MATERIAL AND/OR DATA. WE DO NOT MAKE ANY WARRANTY REGARDING ANY GOODS OR SERVICES PURCHASED OR OBTAINED THROUGH US OR FROM ANY SERVICE OFFERED BY US OR ANY TRANSACTIONS ENTERED INTO BY USE OF OR THROUGH ANY SERVICE OFFERED BY US. NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED BY YOU FROM US, OR THROUGH ANY SERVICE OFFERED BY US, SHALL CREATE ANY WARRANTY NOT EXPRESSLY MADE HEREIN. SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF CERTAIN WARRANTIES, SO SOME OF THE ABOVE EXCLUSIONS MAY NOT APPLY TO YOU.</b>
              </p>
              <h2 class="text-uppercase">
                <b>LIMITATION OF LIABILITY</b>
              </h2>
              <p class="text-uppercase">
                <b>UNDER NO CIRCUMSTANCES, INCLUDING, WITHOUT LIMITATION, NEGLIGENCE, SHALL WE OR OUR PARENTS, SUBSIDIARIES, AFFILIATES, OFFICERS, DIRECTORS, EMPLOYEES, AGENTS, OR SUPPLIERS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, OR CONSEQUENTIAL DAMAGES RESULTING FROM THE USE OR THE INABILITY TO USE ANY SERVICE OFFERED BY US, OR FOR THE COST OF PROCUREMENT OF SUBSTITUTE GOODS AND SERVICES, OR RESULTING FROM ANY GOODS OR SERVICES PURCHASED OR OBTAINED, OR MESSAGES RECEIVED, OR TRANSACTIONS ENTERED INTO BY MEANS OF OR THROUGH ANY SERVICE OFFERED BY US, OR RESULTING FROM UNAUTHORIZED ACCESS TO OR ALTERATION OF YOUR TRANSMISSIONS OR DATA, OR OTHER INFORMATION THAT IS SENT OR RECEIVED OR NOT SENT OR RECEIVED, INCLUDING BUT NOT LIMITED TO, DAMAGES FOR LOSS OF PROFITS, USE, DATA, OR OTHER INTANGIBLES, EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. YOU ALSO AGREE THAT WE SHALL NOT BE RESPONSIBLE OR LIABLE TO YOU, OR TO ANYONE, FOR THE STATEMENTS OR CONDUCT OF ANY THIRD PARTY ON OR ARISING FROM USE OF ANY SERVICE OFFERED BY US. IF YOU ARE DISSATISFIED WITH ANY SERVICE OFFERED BY US YOUR EXCLUSIVE REMEDY IS TO DISCONTINUE USE OF THE SERVICE WITHOUT REFUND OF ANY KIND WHATSOEVER. THE LIMITATIONS AND EXCLUSIONS IN THIS SECTION APPLY ONLY TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW</b>
              </p>
              <h2>INDEMNIFICATION</h2>
              <p>You hereby warrant that You will not use the information provided by Us in violation of any State, Federal or International law. Further, You agree to indemnify, defend, and hold Us harmless, as well as holding harmless Our parents, subsidiaries, affiliates, officers, directors, employees, agents, and suppliers, and their respective affiliates, officers, directors, employees, and agents, from any claim, action, demand, or damage, including reasonable attorney's fees, made by any third party or governmental agency arising out of or related to Your use of any service offered by Us or Your violation of this Agreement, including without limitation, claims or suits for libel, violation of rights of privacy or publicity, interference with property rights, trespass, violations of Federal, State or International Law, patent infringement or plagiarism. We may, at Our sole discretion, assume the exclusive defense and control of any matter subject to indemnification by You. The assumption of such defense or control by Us, however, shall not excuse any of Your indemnity obligations.</p>
              <h2>THIRD-PARTY LINKS</h2>
              <p>We may provide links to the sites of affiliated companies and certain other businesses.
                <br> We are not responsible for examining or evaluating their products, and we do not
                <br> warrant the offerings of any of these businesses or individuals or the content of their
                <br> websites. We do not assume any responsibility or liability for the actions, product, and
                <br> content of any linked website. You should carefully review their privacy statements,
                <br> terms of service and other conditions of use.
              </p>
              <h2>FORCE MAJEURE</h2>
              <p>We shall not be liable for delays or nonperformance of this Agreement caused by strike, fire or accidents, nor shall We be liable for delay or nonperformance caused by lack of availability of materials, fuel or utilities or for any other cause beyond Our control.</p>
              <h2>ASSIGNMENT</h2>
              <p>You may not assign the rights or obligations under this Agreement.</p>
              <h2>ENTIRE AGREEMENT</h2>
              <p>Except as modified or supplemented by a writing executed by both parties, the Terms and Conditions described herein are the only representations, warranties, and understandings between the parties with respect to the products and/or services described herein.</p>
              <h2>DISPUTES</h2>
              <p>In the event of a dispute You agree to attempt to resolve the dispute by contacting Us at
                <a href="mailto:customerservice@gun.deals">customerservice@gun.deals</a> and entering into a resolution discussion prior to taking any other action. You must contact us within one year of the issues causing the dispute. Failure to contact Us to attempt a dispute resolution of prior to taking any other action will result in a breach of this Agreement by You. This Agreement and Your use of Our web site are governed by the laws of the State of Ohio, and the courts of general jurisdiction located within Franklin County, Ohio, will have exclusive jurisdiction over any and all disputes arising out of, relating to, or concerning this Agreement or any other controversy between You and Us. You hereby waive any right to a trial by jury in the event of any controversy or claim relating to this Agreement. In addition to the foregoing, in the event of any breach or violation of this Agreement, We shall be entitled to enforce all of Our legal remedies for the breach or wrongful activity including, but not limited to, seeking actual damages, the maximum amount of statutory damages under applicable statutes and Acts, profits, treble damages, and attorneys’ fees and costs. These remedies and damages are in addition to the monetary payments described above and/or any amounts otherwise due under this Agreement.
              </p>
              <h2>SEVERABILITY</h2>
              <p>If any provision, or portion thereof, of this Agreement is held by a court of competent jurisdiction to be invalid under any applicable statute or rule of law, You and We agree that such invalidity shall not affect the validity of the remaining portions of this Agreement and further agree to substitute for the invalid provision a valid provision which most closely approximates the intent and economic effect of the invalid provisions.</p>
              <h2>HEADINGS</h2>
              <p>The headings of this Agreement are for convenience only and shall not be used to construe the meaning of this Agreement.</p>
              <h2>AGREEMENT UPDATES</h2>
              <p>This Agreement is effective as of September 17, 2018. We reserve the right to revise this policy from time to time without prior notice. You will be notified of any material changes in Our Terms of Service either by email or by a conspicuous posting on Our web site.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!--------------------- term of services section end here ---------------------  -->
</div>
<!-- card section two start here  -->
<%= render partial: 'partials/middle_adds' %>
<section class="mb-4">
  <div class="container">
    <div class="row">
      <%= render partial: 'partials/bottom_cards' %>
    </div>
  </div>
</section>
