/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.



 *= require_tree .
 *= require_self
 */
/*@import 'bootstrap/scss/bootstrap';*/


.search-products-card {
  left: -29% !important;
  width: 286px !important;
  height: 800px !important;
}
.truc-title-search {
  overflow: hidden !important;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
  width: 106px !important;
}

@media  only screen and (max-width: 769px) {
  .search-products-card {
    position: absolute;
    left: 182% !important;
    width: 250px !important;


  }
}