/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.



 *= require_tree .
 *= require_self
 */
/*@import 'bootstrap/scss/bootstrap';*/


.search-products-card {
  left: -29% !important;
  width: 286px !important;
  height: 800px !important;
}
.truc-title-search {
  overflow: hidden !important;
  white-space: nowrap !important;
  -o-text-overflow: ellipsis !important;
  text-overflow: ellipsis !important;
  width: 106px !important;
}

@media  only screen and (max-width: 769px) {
  .search-products-card {
    position: absolute;
    left: 182% !important;
    width: 250px !important;


  }
}

.card-coupon {
  //box-shadow: inset 0 0 0 1px #cacfd4, 0 1px 3px 0 rgb(0 0 0 / 15%);
  background: #fff;
  position: relative;
  margin-bottom: 20px;
  -webkit-transition: background-color .4s,color .2s;
  -o-transition: background-color .4s,color .2s;
  transition: background-color .4s,color .2s;
  border-radius: 2px !important;
  padding: 1rem;
}

.form-date {
  display: block !important;
}
.form-sel {
  padding: 8px 15px;
  border: 1px solid #ccc;
  background-color:#fff;
  border-radius: 4px;
  outline: none;
  color:#777;
}
.form-select-store {
  padding: 8px 15px;
  border: 1px solid #ccc;
  background-color:#fff;
  border-radius: 4px;
  outline: none;
  display: block;
  width: 100%;
  color: #777;
}
.form-sel:not(first-child) {
  margin: 0 3px;
}

.tab-content-border {
  border: dashed;
  border-color:#eee;
}

.newsletter__subscribe {
  width: 85%;
  margin: 0 auto;

}
.btn-newsletter {
  border-radius: 5px !important;
  padding: 12px 10px !important;
  border: none !important;
  outline: none !important;
}
.btn-newsletter:hover {
  background: #2e66a5 !important;
  background-image: none !important;
}
.card-coupon {
  //box-shadow: inset 0 0 0 1px #cacfd4, 0 1px 3px 0 rgb(0 0 0 / 15%);
  background: #fff;
  position: relative;
  margin-bottom: 20px;
  -webkit-transition: background-color .4s,color .2s;
  -o-transition: background-color .4s,color .2s;
  transition: background-color .4s,color .2s;
  border-radius: 2px !important;
  padding: 1rem;
}

.form-date {
  display: block !important;
}
.form-sel {
  padding: 8px 15px;
  border: 1px solid #ccc;
  background-color:#fff;
  border-radius: 4px;
  outline: none;
  color:#777;
}

.form-select-store {
  padding: 8px 15px;
  border: 1px solid #ccc;
  background-color:#fff;
  border-radius: 4px;
  outline: none;
  display: block;
  width: 100%;
  color: #777;
}
.form-sel:not(first-child) {
  margin: 0 3px;
}

.tab-content-border {
  border: dashed;
  border-color:#eee;
}
.tab-content-border_tertiary {
  padding: 1rem;
  border: none !important;
}

.rebates, .comments__quick {
  width: 90%;
  margin: 2rem auto;

}
.item-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.item-list .pager {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.item-list .pager li {
  margin: 0 10px;
}
.active__class {
  color: #76c0ff !important;
  -webkit-box-shadow: inset 0 -2px #76c0ff !important;
  box-shadow: inset 0 -2px #76c0ff !important;
}
.rebates, .comments__quick {
  width: 82%;
  margin: 2rem auto;
}
.sidebar-filter {
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 5px;
  color: #333 !important;
  padding: 20px;
  width: 268px !important;
}
.btn--filter {
  margin-left: 19px !important;
  padding: 12px !important;
  background: #2e66a5a3 !important;
  font-weight: normal !important;
  border-radius: 5px !important;

}

.btn--filter:hover {
  background: #2e66a3 !important;
}

@media  only screen and (max-width: 769px) {
  .sidebar-filter {
    width: 94% !important;
    margin: 0 auto !important;
  }
}
.filter-card-container .sub-card {
  margin-top: -4px !important;

}

.field-checkbox__container label {
  margin-left: 5px !important;
}

.filters--sidebar {
  width: 202px !important;
  margin: 0 auto !important;
}

@media only screen and (max-width:769px) {
  .filters--sidebar {
    width: 100% !important;
  }
}
.header-dropdown {
  margin-right: 40px !important;
}
