

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.



 *= require_tree .
 *= require_self
 */
/*@import 'bootstrap/scss/bootstrap';*/


.search-products-card {
  left: -29% !important;
  width: 286px !important;
  height: 800px !important;
}
.truc-title-search {
  overflow: hidden !important;
  white-space: nowrap !important;
  -o-text-overflow: ellipsis !important;
  text-overflow: ellipsis !important;
  width: 106px !important;
}


@media only screen and(max-width:769px) {
  .product-link-search-1{
    overflow: hidden !important;
    white-space: nowrap !important;
    -o-text-overflow: ellipsis !important;
    text-overflow: ellipsis !important;
    width: 10px !important;
    margin-left: 10px !important;
    font-size: 10px !important;
  }
}


.product-link-search-1:hover {
  color: #fff !important;
}

@media  only screen and (max-width: 769px) {
  .search-products-card {
    position: absolute;
    left: 182% !important;
    width: 250px !important;
  }
}

.card-coupon {
  background: #fff;
  position: relative;
  margin-bottom: 20px;
  -webkit-transition: background-color .4s,color .2s;
  -o-transition: background-color .4s,color .2s;
  transition: background-color .4s,color .2s;
  border-radius: 2px !important;
  padding: 1rem;
}

body { font-size: 16px !important;}
.form-date { display: block !important;}
.form-sel {
  padding: 8px 15px;
  border: 1px solid #ccc;
  background-color:#fff;
  border-radius: 4px;
  outline: none;
  color:#777;
}
.form-select-store {
  padding: 8px 15px;
  border: 1px solid #ccc;
  background-color:#fff;
  border-radius: 4px;
  outline: none;
  display: block;
  width: 100%;
  color: #777;
}
.form-sel:not(first-child) {
  margin: 0 3px;
}

.tab-content-border {
  border: dashed;
  border-color:#eee;
}

.newsletter__subscribe {
  width: 85%;
  margin: 0 auto;

}
.btn-newsletter {
  border-radius: 5px !important;
  padding: 12px 10px !important;
  border: none !important;
  outline: none !important;
}
.btn-newsletter:hover {
  background: #2e66a5 !important;
  background-image: none !important;
}
.card-coupon {
  background: #fff;
  position: relative;
  margin-bottom: 20px;
  -webkit-transition: background-color .4s,color .2s;
  -o-transition: background-color .4s,color .2s;
  transition: background-color .4s,color .2s;
  border-radius: 2px !important;
  padding: 1rem;
}

.form-date {
  display: block !important;
}
.form-sel {
  padding: 8px 15px;
  border: 1px solid #ccc;
  background-color:#fff;
  border-radius: 4px;
  outline: none;
  color:#777;
}

.form-select-store {
  padding: 8px 15px;
  border: 1px solid #ccc;
  background-color:#fff;
  border-radius: 4px;
  outline: none;
  display: block;
  width: 100%;
  color: #777;
}
.form-sel:not(first-child) {
  margin: 0 3px;
}

.tab-content-border {
  border: dashed;
  border-color:#eee;
}
.tab-content-border_tertiary {
  padding: 1rem;
  border: none !important;
}

.rebates, .comments__quick {
  width: 90%;
  margin: 2rem auto;

}
.item-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.item-list .pager {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.item-list .pager li {
  margin: 0 10px;
}
.active__class {
  color: #76c0ff !important;
  -webkit-box-shadow: inset 0 -2px #76c0ff !important;
  box-shadow: inset 0 -2px #76c0ff !important;
}
.rebates, .comments__quick {
  width: 82%;
  margin: 2rem auto;
}
.sidebar-filter {
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 5px;
  color: #333 !important;
  padding: 20px;
  width: 268px !important;
}
.btn--filter {
  margin-left: 19px !important;
  padding: 12px !important;
  background: #2e66a5a3 !important;
  font-weight: normal !important;
  border-radius: 5px !important;

}

.btn--filter:hover {
  background: #2e66a3 !important;
}

@media  only screen and (max-width: 769px) {
  .sidebar-filter {
    width: 94% !important;
    margin: 0 auto !important;
  }
}
.filter-card-container .sub-card {
  margin-top: -4px !important;

}

.field-checkbox__container label {
  margin-left: 5px !important;
}

.filters--sidebar {
  width: 202px !important;
  margin: 0 auto !important;
}

@media only screen and (max-width:769px) {
  .filters--sidebar {
    width: 100% !important;
  }
}
.active__class {
  color: #76c0ff !important;
  -webkit-box-shadow: inset 0 -2px #76c0ff !important;
  box-shadow: inset 0 -2px #76c0ff !important;
}

.header-dropdown {
  margin-right: 60px !important;
}
.filter-card-container {
  display: -ms-grid !important;
  display: grid !important;
  -ms-grid-rows: auto 10px auto !important;
  grid-template-rows: auto auto !important;
  -ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr !important;
  grid-template-columns: repeat(4, 1fr) !important;
  grid-gap: 10px !important;

}
.filter-card-container > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;

}
.filter-card-container > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;

}
.filter-card-container > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;

}
.filter-card-container > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;

}
.filter-card-container > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;

}
.filter-card-container > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;

}
.filter-card-container > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;

}
.filter-card-container > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;

}

@media  only screen and (max-width: 769px) {
  .filter-card-container {
    display: -ms-grid !important;
    display: grid !important;
    -ms-grid-columns: 1fr !important;
    grid-template-columns: 1fr !important;
    -ms-grid-rows: auto !important;
    grid-template-rows: auto !important;
  }
  .filter-card-container > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
}

.flex-card-side-item {
  width: 200px !important;
  margin: 5px 10px;
  height: 380px !important;
}


@media only screen and (max-width:769px) {
  .flex-card-side-item {
    width: 100% !important;
    margin: 10px 0 !important;

  }
}

.devider-gap-cards {
  padding: 10px 0;
}



.card--listing-header-search {
  width: 100% !important;
  margin: 0 auto !important;
}
.card-listing-pill{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px;
  width: 90%;
  background-color: #fff;
  border: 1px solid #eee;
}


.model-notify-app {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.8);
  z-index: 5000;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;

  -webkit-transition: all .5s ease-in-out;

  -o-transition: all .5s ease-in-out;

  transition: all .5s ease-in-out;
}

.sidebar-filter {
  margin-left: 12px !important;
}


.truc-compare-gun {
  overflow: hidden !important;
  white-space: nowrap !important;
  -o-text-overflow: ellipsis !important;
  text-overflow: ellipsis !important;
  width: 400px !important;
  font-size: 10px !important;
}


.img_equal_height {
  width:400px !important
}

#edit-amount {
  width:120px;
  padding: 7px 14px;
  margin-top: -1px;
}

#edit-amount-wrapper {
  margin-left: 10px;
}




.pricing-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media only screen and (max-width:769px) {
  .pricing-product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }
}

.pricing-product > div {
  padding: 0 10px;
}

.pricing-product input[type="number"] {
  margin-top: -10px !important;
}



.active__liking {
  color: green;
}

#my-button {
  position: relative;
  padding: 10px 5px;
  margin-bottom: 30px;
}


#my-button:hover + .tooltip__liking{
  visibility: visible;
}


#my-button-dislike {
  position: relative;
  padding: 10px 5px;
  margin-bottom: 30px;
}

#my-button-dislike:hover > .tooltip__liking {
  visibility: visible;
}



.tooltip__liking {
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: 10px;
  background-color: black;
  color: white;
  border-radius: 5px;
  font-size: 12px;
  width: 150px;
}



.loading-likes {
  font-size: 10px;
  visibility: hidden;
  height: 10px;
  width: 10px;
}



.tooltip__liking::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg)
}


.model-content-app input[type="text"], textarea, input[type="number"] {
  width: 100% !important;
}


@media only screen and (max-width:769px) {
  button.scroll-previous.tile-slider_direction.tile-slider_direction--previous  {
    color: #3b3f47 !important;
    background: #CACFD4 !important;
    border-color: #CACFD4 !important;
    border-radius: 0px 4px 4px 0px !important;
    margin-top: 10% !important;
    outline: none !important;
    margin-bottom: auto !important;
    position: absolute !important;
    top: 70px !important;
    left: -16px !important;
    height: 155px !important;
  }


  button.scroll-next.tile-slider_direction.tile-slider_direction--next {
    color: #3b3f47;
    background: #CACFD4;
    border-color: #CACFD4;
    border-radius: 4px 0px 0px 4px;
    margin-top: 10%;
    outline: none;
    margin-bottom: auto !important;
    position: absolute !important;
    top: 70px !important;
    right: -16px !important;
    height: 155px !important;
  }
  .card__heading {
    margin-top: 20px !important;
  }

  .js-newsletter-subscribe-caller {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: justify !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    width: 100% !important;
    margin: 0 auto !important;
  }

  ul#multiCollapseExample2 {
    width: 90% !important;
    margin: 0 auto !important;
  }

  .primary-menu__menu-label {
    margin: 10px 0 !important;
  }

  .dev-menu {
    width: 90% !important;
    margin: 0 auto !important;;
  }
  .divided-line {
    margin: 7px 0 !important;
    font-size: 12px !important;
  }
  .menu-canvas-fix {
    width: 90% !important;
    margin: 0 auto !important;
  }
  .live-inventory-search-column {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }

  .new_user input[type="text"],
  input[type="email"], input[type="password"],
  input[type="submit"] {
    width: 100% !important;
  }
  .full-input {
    width: 100% !important;
  }

  .flex-store {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
  }


  .rebates, .comments__quick {
    width: 95% !important;
    margin: 2rem auto;
  }

}


.nav-tabs .nav-link {
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  padding: 15px !important;
}



td.image-cell {width: 400px !important}
.menu-mobile-app .leaf a { font-size: 10px !important;}
@media only screen and (max-width:769px) {
  td.image-cell-right {width:450px !important;}

  td.image-cell { width: 10px !important;}
  .card-gun-compare {
    height: auto !important;
  }
}


@media only screen and (max-width:769px) {
  .card-gun-compare {
    height: 390px !important;
  }
}


@media only screen and (max-width:769px) {
  .accordion-button {
    font-size: 10px !important;
  }
}


.card-gun-compare img {
  height: 70px !important;
  width: 70px !important;
  -o-object-fit: contain !important;
  object-fit: contain !important;
}



.card-coupon  input[type="text"], input[type="number"] {
  width: 100% !important;
}

@media only screen and (max-width:769px) {
  .flex-categories {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;;
  }

  .set-width-left-card {
    width: 100% !important;
  }

  .card--filters {
    width: 100% !important;
  }

  .categories__cards {
    width: 100% !important;
  }

  .set-width-right-card {
    width: 100% !important;
  }

  .cat__card {
    width: 100% !important;
  }

  .card___width {
    width: 106% !important;
  }

}




// Flex Search Inventory Mobile
@media only screen and (max-width:769px){
  .flex-search-inventory {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }

  .wiki__flex--search {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }
  .dealer-comparison-info {
    margin-right: 10px !important;
    margin-top: -10px !important;
    margin-bottom: 10px !important;
  }
}


.footer-category {
  margin-left: 0 !important;
  margin-top: 15px !important;
}

.footer-category a {
  color: #333 !important;
}






.product__title-search a {
  color: #333 !important;
  font-weight: bold !important;
}

.categories__cards img {
  margin-top: -25px !important;
}


@media (max-width: 480px) {
  .price-compare-table tbody tr:nth-of-type(even) {
    display: table-row !important;
  }

  .price-compare-table tbody tr:nth-of-type(odd) {
    display: table-row !important;
  }






  .compaire-price, .compaire-price-table2,
  .user-posted-deal,  .sidebar__filter {
    width: 93% !important;
    margin-top: 5px !important;
  }

  .sidebar-filter input[type="submit"] {
    margin-left: -10px !important;
  }
  .sidebar-filter input[type="reset"] {
    display: block !important;
    width: 100% !important;
    margin-left: -10px;
    margin-top: 7px !important;
  }
}



.upc__count {
  margin: 5px 10px !important;
}




.user__posted-deals-flex {
  width: 100% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.posted__select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 150px !important;
}

.posted__select span {
  width: 100px !important;
}

@media only screen and (max-width:769px){
  .flex-likes {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    -webkit-box-pack: end !important;
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
  }

  .upc__count {
    width: 100% !important;
    margin:0 auto !important;
    padding: 0 10px !important;
    background-color: #eee !important;
    font-size: 14px !important;
  }

  .upc__count a {
    font-size: 14px !important;

  }
  .gun__spy {
    background-color: #eee !important;
    font-size: 13px !important;
  }
  .gun__spy span {
    color: #333;
    font-size: 12px !important;
  }
  .gun__spy a i{
    color: #333;
  }
}

.gun__spy a i { color: #333 !important; }
.gun__spy span { color: #333 !important; }
.green-icon { color: rgb(19, 161, 19);}

.tooltip {
  max-width: 200px; /* Adjust the maximum width of the tooltip container */
  font-size: 12px; /* Adjust the font size of the tooltip text */
  border-radius: 4px; /* Optional: add rounded corners to the tooltip container */
}

.tooltip-inner {
  padding: 8px; /* Adjust the padding inside the tooltip container */
}


@media only screen and (max-width:769px) {
  .sidebar-filter, .side__bar--rm {
    display: none !important;
  }

  .search-group img {
    display: none !important;
  }

  .search-group {
    background-color: #2e66a3 !important;
    color: #fff !important;
    margin-bottom: 5px !important;
  }
  .search-group h4 {
    margin-left: -10px !important;
    font-size: 12px !important;
    color: #fff !important;
  }
  .search-group h4 a {
    font-weight: bold !important;
    color: #fff !important;
  }

  .product-link-search-1 {
    color: #fff !important;
    font-weight: bold !important;
  }


  .flexible___flex-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    -ms-flex-line-pack: center;

    align-content: center;
  }

  .flexible__list-group  {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4,1fr);
    grid-template-areas: calc(10px);
    grid-row: inherit;
    grid-column: inherit;
  }
}


@media (max-width: 500px) {
  .compaire-price, .compaire-price-table2, .user-posted-deal, .sidebar__filter {
    width: 100% !important;
    margin-top: 5px !important;
  }
  .social-share { display: none !important;}
}


.live-inventory__search-mode {
  background: #fff !important;
  width: 81.8% !important;
  margin: 5PX auto !important;
  padding: 10PX !important;
  BORDER-RADIUS: 10PX !important;
}

.recent-products {
  padding-top: 20px;
  width: 100% !important;
  margin: 10px auto;
  border-radius: 5px;
}

.container-reviews {
  width: 82.8%;
  margin: 0 auto;
}
.container-add-review {
  width: 82.8%;
  margin: 0 auto;
}

 .icon-fa-link {
  margin-left: -10px !important;
}

@media only screen and (max-width:769px) {
  .live-inventory__search-mode {
    background: #fff !important;
    width: 93% !important;
    margin: 5PX auto !important;
    padding: 10PX !important;
    BORDER-RADIUS: 10PX !important;
  }

  .wiki__flex {
    display: flex !important;
    flex-direction: column !important;
  }

  .container-reviews {
    width: 98.8% !important;
    margin: 0 auto !important;
  }

  .container-add-review {
    width: 98.8%;
    margin: 0 auto;
  }


  .add-product-review {
    width: 100% !important;
  }
}

.review___youtube {
  line-height: 1.3;
}