
/* body style start */
.body-style {
  font-family: helvetica neue,Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 1.428571429;
}
body{
  color: #3b3f47!important;
  background-color: #e4e6e8!important;
}

.container, .container-lg, .container-md, .container-sm, .container-xl {
  max-width: 1140px!important;
}

/*------------ads banner section start-------------------  */
.add-banner-section{
  margin-top: 300px;
}
/*------------ads banner section end-------------------  */
/* navbar start style  */
img.img-logo {
  width: 215px;
  display: flex;
  /* margin-top: 61px; */
}
.inner-header {
  justify-content: end;
  display: flex;
}
.social-menu--header a {
  font-size: 24px;
  color: #3b3f47!important;
  line-height: 36px;
}
.list-inline>li, .social-menu--sidebar ul>li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

.main-search--header .form-group {
  margin-bottom: 0;
}
.form-group {
  position: relative;
}
.main-search--header .main-search-input {
  padding-right: 39px;
  -webkit-appearance: none;
}
.main-search--header .main-search-input {
  box-shadow: inset 0 0 0 1px #cacfd4, 0 1px 3px 0 rgba(0, 0, 0,  0.15);
  background: #fff;
  border: none;
  line-height: 36px;
  padding: 0 10px;
}
/*
.main-search--header .main-search-submit {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    border: none;
    background: 0 0;
    font-size: 24px;
    height: 36px;
    line-height: 36px;
    width: 36px;
    text-align: center;
} */

.main-search--header .main-search-submit {
  position: absolute;
  right: 0;
  top: 24px;
  padding: 0;
  border: none;
  background: 0 0;
  font-size: 24px;
  height: 36px;
  line-height: 36px;
  width: 516px;
  text-align: center;
}
.header__navigation {
  margin-left: 198px;
}

/* --------header two start------ */
.header {
  height: 120px;
  padding-top: 20px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.30), inset 0 -40px 0 #3b3f47;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 1140;
}
.header .container-fluid {
  height: 100%;
}
.container-fluid {
  max-width: 1200px;
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
}
.header__bottom {
  height: 40px;
}
.primary-menu--header {
  float: left;
}
.primary-menu--header, .secondary-menu--header {
  line-height: 40px;
}
.menu-header>ul>li:not(:last-child) {
  margin-right: 5px;
}
.menu-header>ul>li {
  display: inline-block;
}
.dropup, .dropdown {
  position: relative;
}
.dropdown-menu, #autocomplete ul {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 16px;
  text-align: left;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.18);
  background-clip: padding-box;
}
.header__submenu-container>ul>.dropdown:hover>ul {
  display: block;
}
.dropdown-menu>li>a, #autocomplete ul>li>a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.428571429;
  color: #333;
  white-space: nowrap;
  text-decoration: none;
}
.dropdown-menu>li>a:hover, #autocomplete ul>li>a:hover, .dropdown-menu>li>a:focus, #autocomplete ul>li>a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}
.menu-header>ul>li.active-trail .active, .menu-header>ul>li.active-trail>a.nolink {
  color: #76c0ff;
  box-shadow: inset 0 -2px #76c0ff;
}
.menu-header>ul>li>a, .menu-header>ul>li>.icon-fa-link {
  display: inline-block;
  font-weight: 400;
  padding: 0 5px;
  border-radius: 0;
}
.secondary-menu--header {
  float: right;
}
.menu-header>ul {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}
.secondary-menu--header>ul>li {
  height: 40px;
  line-height: 40px;
}
.menu-header>ul>li>a, .menu-header>ul>li>.icon-fa-link {
  display: inline-block;
  color: rgba(255,255,255,.8);
  font-weight: 400;
  padding: 0 5px;
  border-radius: 0;
  text-decoration: none;
}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.icon-fa-link .fa:not(:only-child) {
  margin-right: 5px;
}
.menu-header>ul>li:hover {
  box-shadow: inset 0 -2px rgba(255, 255, 255, 0.80);
}
/* --------header two end------ */
.card a {
  color: #2e66a5;
  text-decoration: none;
}
.top-header-space {
  margin-top: 130px!important;
}
/* card style start */
.tile__sponsored {
  box-shadow: 0 0 0 1px #cacfd4;
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 10px;
  padding: 3px 7px;
  border-radius: 5px;
  background: rgba(255,255,255,.85);
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
  text-transform: uppercase;
}
.tile__sponsored a:hover{
  text-decoration: underline;
  color: #5b99de;
}
.price-tag--one-line {
  flex-direction: row;
  align-items: center;
  position: relative;
  top: -26px;
}
.price-tag::before {
  top: 3px;
  left: -7px;
  width: 14px;
  height: 14px;
  transform: rotate(45deg);
  border-radius: 0 0 0 4px;
  background-color: #d41d00;

}
.price-tag::before, .price-tag::after {
  position: absolute;
  content: "";
}
.price-tag::after {
  z-index: 1;
  top: 50%;
  left: -10px;
  width: 6px;
  height: 6px;
  transform: translate(-50%,-50%) translateX(10px);
  border-radius: 3px;
  background-color: #fff;
}
.price-tag {
  position: relative;
  display: inline-flex;
  height: 20px;
  margin-left: 10px;
  padding: 0 5px 0 10px;
  color: #fff;
  border-radius: 0 4px 4px 0;
  background-color: #d41d00;
  line-height: 1;
  justify-content: center;
}

.tile__rate-action {
  position: relative;
  display: block;
  padding: 10px 5px;
  text-align: center;
  color: #3b3f47;
  font-size: 14px;
}
.tile__likes::after {
  bottom: 3px;
  left: 3px;
  background-color: #b6e2ce;
  box-shadow: inset -3px 0 0 0 #fff;
}
.tile__rate-action::after {
  position: absolute;
  width: 100%;
  height: 2px;
  content: "";
}
.tile__dislikes::after {
  bottom: 3px;
  left: 2px;
  background-color: #eebec0;
  box-shadow: inset -4px 0 0 0 #fff;
}
.tile__comments::after {
  right: 3px;
  bottom: 3px;
  content: "";
  background-color: #ddd;
  box-shadow: inset 2px 0 0 0 #fff;
}
.tile__actions-container .icon-fa-link {
  color: #3b3f47;
  line-height: 39px;
}
.tile-image{
  padding: 0px 12px ;
}
.tile__title {
  position: relative;
  overflow: hidden;
  padding: 0 10px;
  color: #3b3f47;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  transform: translateY(0);
  transition: transform 1s;
}
.tile__title a{
  color: #3b3f47;
}
.tile__title a:hover{
  color: #3b3f47;
  text-decoration: underline;
}

/* footer code start */
.footer-branding {
  position: relative;
  z-index: 4;
  overflow: hidden;
  margin: 0;
}
.footer-branding {
  position: relative;
  z-index: 4;
  overflow: hidden;
  margin: 0;
}
.footer-branding {
  flex-shrink: 0;
}
.card--invert {
  color: rgba(255,255,255,.8)!important;
  background: #3a3f47!important;
  box-shadow: inset 0 -1px 0 0 #616770!important;
}
.footer-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer-menu ul>li {
  display: inline-block;
}
.footer-menu a, .footer-menu a:visited {
  color: #76c0ff;
}
.footer-menu a {
  display: block;
  padding: 5px;
  white-space: nowrap;
  text-decoration: none;
}
.footer-menu a:hover {
  text-decoration: underline;
}

.footer-branding__logo-column {
  text-align: center;
}
.footer-branding__logo-column, .footer-branding__copy {
  text-align: center;
}
.footer-branding__logo-column {
  position: relative;
}
.footer-branding__logo-column::before {
  width: 100%;
  padding-top: 180%;
  transform: translate(-8%,-25%) rotate(15deg);
}
.footer-branding__logo-column::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  transform: translate(-7%,-18%) rotate(15deg);
  background-color: #515863;
}
.footer-branding__logo-column>* {
  position: relative;
  z-index: 1;
}
.site-links {
  display: flex;
  justify-content: center;
}
.site-links__current {
  display: flex;
  align-items: center;
}
a:visited {
  color: #39679a;
}
.site-links__link {
  display: block;
  margin-bottom: 10px;
  transition: filter .2s ease-in-out,transform .2s ease-in-out;
  transform: scale(.95);
  filter: grayscale(100%) opacity(50%) contrast(150%);
}
.site-links__other {
  width: 100px;
}
.footer-branding__copy {
  white-space: nowrap;
  text-transform: uppercase;
  color: rgba(255,255,255,.6);
  font-size: 13px;
}
.footer-branding__byteout, .footer-branding__moye {
  display: inline-block;
  transition: filter .2s ease-in-out;
  transform: translateY(-1px);
  filter: grayscale(100%) opacity(50%) contrast(150%);
  color: rgba(255,255,255,.6)!important;
}
.footer-branding__byteout, .footer-branding__moye {
  display: inline-block;
  transition: filter .2s ease-in-out;
  transform: translateY(-1px);
  filter: grayscale(100%) opacity(50%) contrast(150%);
  color: rgba(255,255,255,.6);
}
.newsletter-preview, .newsletter-generator .newsletter-form-container, .newsletter-generator__title, .table-section {
  padding: 20px;
}
.row:after {
  clear: both;
}
.row:before, .row:after {
  content: " ";
  display: table;
}
.container-fluid:after {
  clear: both;
}
.container-fluid:before, .container-fluid:after {
  content: " ";
  display: table;
}
.site-links__current img {
  width: 184px;
  max-width: 100%;
  height: auto;
}
.site-links__other img {
  width: 100%;
  height: auto;
  max-height: 40px;
}

.site-links__other img {
  width: 100%;
  height: auto;
  max-height: 40px;
}
.footer-branding__byteout img, .footer-branding__moye img {
  width: auto;
  height: 18px;
}
.footer-branding__moye img {
  height: 22px;
}





/* unique card style css  start here*/

.caliber-listing-clear {
  clear: both;
}
.caliber-listing-header {
  background: url(/images/bar.webp) repeat center center;
  border-bottom: 3px solid #4b5d29;
}
.caliber-listing-logo {
  background-size: cover;
}
.caliber-listing-content{
  background-color: #34373c;
}

.caliber-listing-logo a {
  position: relative;
  width: 100%;
  background: url(/images/card-centre3.jpg) no-repeat center center;
  min-height: 100px;
  max-height: 100px;
  height: 20%;
  background-size: cover;
  display: block;
}
.caliber-listing-content ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  display: block;
}
.caliber-listing-content li {
  width: 95%;
  background-color: #5a5b5e;
  font-size: 13px;
  margin: 5px auto;
  padding: 5px;
  color: #bcbcbd;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.caliber-listing-content li a {
  color: #bcbcbd;
  text-decoration: none;
}
.caliber-listing-content li span {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  background-color: #4f5055;
  color: #b4b4b4;
  font-size: 12px;
  line-height: 24px;
  padding: 3px 5px;
  margin-top: -1px;
}
.caliber-listing-content li span strong {
  color: #bad588;
  text-transform: uppercase;
}
@media all and (max-height: 300px) {
  .caliber-listing-logo {
    min-width: 20%;
    line-height: 50px;
  }
  .caliber-listing-logo a {
    min-height: 57px;
    max-height: 57px;
  }
}
@media all and (max-height: 300px) and (max-width: 570px) {
  .caliber-listing-content li {
    width: 98% !important;
  }
}
@media all and (max-height: 300px) and (min-width: 468px) {
  .caliber-listing-logo {
    margin-top: 0;
  }
  .caliber-listing-content li {
    width: 48%;
    margin: 3px 1%;
    float: left;
  }
}
@media all and (max-height: 300px) and (min-width: 720px) {
  .caliber-listing-logo {
    min-width: 75px;
    margin-left: 10px;
  }
  .caliber-listing-content li {
    width: 32.5% !important;
  }
}
@media all and (max-height: 300px) and (min-width: 570px) {
  .caliber-listing-content li {
    width: 32.8% !important;
  }
}
@media all and (max-height: 60px) {
  body {
    background: url(/images/headerbg.jpg?v197) repeat center center;
  }
  .caliber-listing-header {
    background: 0 0;
    border: none;
  }
  .caliber-listing-logo {
    width: 140px;
    float: left;
    display: block;
    position: relative;
    margin-left: 0;
  }
  .caliber-listing-logo a {
    height: 62px;
    position: relative;
    width: 100%;
    display: block;
  }
  .caliber-listing-content {
    margin-left: 140px;
  }
  .caliber-listing-content li {
    width: 47.6% !important;
    margin-top: 2px;
    margin-bottom: 2px;
  }
}
@media all and (min-height: 61px) and (max-height: 120px) {
  body {
    background: url(/images/headerbg.jpg?v197) repeat center center;
  }
  .caliber-listing-header {
    display: block;
    position: absolute;
    height: 100%;
    float: none;
  }
  .caliber-listing-logo {
    height: 100%;
    max-height: 100%;
    float: left;
    width: 200px;
    display: block;
    position: relative;
    margin-left: 0;
  }
  .caliber-listing-logo a {
    display: block;
    width: 100%;
    height: 90px;
    position: relative;
    min-height: 100%;
    max-height: 90px;
  }
  .caliber-listing-content {
    margin-left: 205px;
  }
  .caliber-listing-content li {
    width: 32.5%;
    font-size: 11px;
    line-height: 16px;
    margin: 2px 1px;
  }
}
.border {
  position: absolute;
  z-index: 1;
  background-color: #5a5b5e;
  top: 0;
}
.border--top,
.border--bottom {
  width: 100%;
  height: 1px;
  left: 0;
}
.border--bottom {
  top: auto;
  bottom: 0;
}
.border--left,
.border--right {
  width: 1px;
  height: 100%;
}
.border--left {
  left: 0;
}
.border--right {
  right: 0;
}




/* new coupan card start  */
.card__title {
  margin-bottom: 11px;
}
.card__content>:last-child {
  margin-bottom: 0;
}
.coupons .coupon:nth-child(odd) {
  background: #f9f9f9;
}
.coupons .coupon:not(:last-child) {
  margin-bottom: 10px;
}
.coupon {
  position: relative;
  padding: 10px;
  border: 2px dashed #dde0e4;
}
.coupon>*:not(:last-child) {
  margin-bottom: 10px;
}
.coupon__title {
  font-size: 16px;
}
.coupon__code {
  display: flex;
  align-items: center;
}
.coupon__input-wrapper {
  height: 1px;
  width: 1px;
}
.coupon__input {
  position: absolute;
  height: auto;
  width: 20px;
  opacity: 0;
}
.coupon__copy-btn {
  position: relative;
  z-index: 1;
  background-color: transparent;
  border: 0;
}
.coupon__pills .pill:not(:last-child) {
  margin-right: 5px;
}
.pill {
  display: inline-flex;
  overflow: hidden;
  height: 24px;
  border-radius: 12px;
  background-color: #dde0e4;
  box-shadow: 0 0 0 1px #dde0e4;
  line-height: 24px;
  font-size: 15px;
  margin-bottom: 10px;
}
.pill__title {
  padding-right: 4px;
  padding-left: 10px;
}
.pill__value {
  display: inline-block;
  height: 24px;
  padding-right: 10px;
  padding-left: 4px;
  background: #fff;
}
.pill__title {
  padding-right: 4px;
  padding-left: 10px;
}
.btn-block {
  display: block;
  width: 100%;
}
.coupons .btn-primary {
  color: #fff;
  background-color: #2e66a5;
  border-color: #285a91;
}

img{
  height: auto;
  width: 100%;
}

/* third recent commment card style start here */
.recent-comment-wrapper {
  margin-bottom: 10px;
}
.recent-comment__header {
  display: flex;
  margin-bottom: 10px;
  font-size: 1.2rem;
}
.recent-comment__image {
  position: relative;
  margin-right: 10px;
  padding-top: 5px;
  flex-shrink: 0;
  flex-basis: 40px;
}
.recent-comment__info{
  font-size: 14px;
}
.recent-comment__content {
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 59px;
  margin-bottom: 10px;
  font-size: 1.4rem;
  font-style: italic;
}
.recent-comment__content p {
  margin: 0;
  font-size: 13px;
}
.recent-comment__footer {
  font-size: 0.9rem;
  color: #606770;
  display: flex;
  justify-content: flex-end;
}
.recent-comment__footer span {
  margin-right: 5px;
  font-size: 14px;
}
.recent-comment__time-ago {
  flex-grow: 1;
}