 <section>
    <div class="container">
      <div class="add-section add-banner-section">
      </div>
    </div>
  </section>
  <section class="about-us mb-4">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="card p-3">
            <div class="card__title">
              <h1>About Us</h1>
            </div>
            <div class="card__content">
              <p>
                <b>Frequently Asked Questions</b>
              </p>
              <p>Gunfeed.com was created so you can post and find the best deals on guns, ammo and gear anywhere on the internet. Gunfeed.com is not selling any items. We provide a platform for the best deals to be shared from the top dealers in the country. If you find something you want just click the “Visit Deal” link and you will be taken to the dealers website to purchase.</p>
              <p>You can post any deals you come across. Just be sure to follow the general posting guidelines. We are not liable for any purchase or misuse of any item or information that you may find on our website.</p>
              <p>Our website is not a place for advertisers. However, if you really offer the best deal out there feel free to post it, but limit your postings to 1 per day, and no more than 3 per week. You must offer the absolute best price online to be able to post to our website.</p>
              <p>Posts that violate any of our rules will be removed without notice.</p>
              <p>
                <b>1) What is this website about?</b>
              </p>
              <p>This is an index of best deals on guns and ammo posted by users like you. We do not sell any of the products listed on our website. Deals are posted by us and our visitors throuout the day.</p>
              <p>
                <b>2) How can I contact you if I would like to purchase a product?</b>
              </p>
              <p>You don't contact Us. We do not sell any of the products. If you have a question about one of the featured products, please click on the Visit Deal icon and forward any questions to the linked seller.</p>
              <p>
                <b>3) When I click on a product, it says it is Expired?!</b>
              </p>
              <p>Unfortunately, good deals don't last long. They either sell out fast (Sold Out Stamp) or price goes up or the page disappears and we mark it with an Expired stamp.</p>
              <p>
                <b>4) How come when I click on "Visit Deal" the price is more than on your website?</b>
              </p>
              <p>Prices change all the time, sometimes several times throughout the day. If you notice a price error, please click on "Report a Problem" and submit the error (expired, out of stock or other)</p>
              <p>
                <b>5) What are the stars for? </b>
              </p>
              <p>The more stars the hotter the deal is. Stars do not reflect the quality of the product, just the price. Please do not flag down or vote 1 star on a deal just because you don't like that type of a firearm or product. You can rate as many deals as you like from 1 to 5 stars. Click on the star number to rate the product. Deals that have below two starts should automatically drop of the front page. Certain number of votes is necessary for the automatic functions to kick in.</p>
              <p>
                <b>6) How can I post a deal? </b>
              </p>
              <p>You must be a registered user to post comments or deals. You do not have to register to sumbit problem reports. Once you register (it only takes few seconds), click on Post a Deal and you are ready to post. Please make sure that you include the link, price, image and that you select the appropriate category. Please include the manufacturer model number and UPC code if available. You may post anything hunting, firearm or outdoor related.</p>
              <p>
                <b>7) Can I post a private ad?</b>
              </p>
              <p>No. This website is exclusively for deals on new products from retailers that are widely available for most of our visitors. Preferably online deals. You are also allowed to post deals in large chain stores such are Cabela's, Gander Mountain and many more. No moms and pops stores, unless they sell online. Surplus products are also allowed, as are used products with large quanity on hand by known sellers. No private ads.</p>
              <p>
                <b>8) How can I be sure that what I'm posting is a good deal?</b>
              </p>
              <p>Before you post, search our website. Search for the model number, product number, or manufacturer name and model. If you don't find the same product on our website, or your deal has a lower price, please feel free to share the deal with the rest of us. If you find the same product on our website for the same price, leave a comment and the deal will refresh. You can also do a quick Google search to make sure that other retailers do not sell it for lower price. If you find the same product on our website, but the price is now lower than it was, please leave a comment to refresh the deal.</p>
              <p>
                <b>9) I found a better deal than what is posted on your website?</b>
              </p>
              <p>You can leave a comment on the existing post with the link toward the deal you found or you can submit it as a new deal. Make sure you calculate shipping charges as well. Some retailers have cheaper prices but extremely high shipping prices. Some have free shipping but slightly higher price. Some advertise their cash price, and charge additional fees for credit cards. Make sure you include all the additional info in the post, so that you don't mislead our visitors.</p>
              <p>
                <b>10) I have an online gun store, can I post deals that I'm offering.</b>
              </p>
              <p>As long as you offer the product cheaper than other online stores and it is not posted on our website for a lower price, you are free to post. Please limit your postings to 3 per week, and 1 per day.</p>
              <p>
                <b>11) I would like to add a video to the deal I posted</b>
              </p>
              <p>After you posted the deal, add a comment and include a Youtube video link. We will edit your post and include the video.</p>
              <p>
                <b>12) How do I add my FFL information to the FFL page.</b>
              </p>
              <p>Register as a Dealer/Seller. Once you create an account and log in, click on view/edit FFL in your account settings and fill in the requested info.</p>
              <p>
                <b>13) What if I have additional questions?</b>
              </p>
              <p>Please feel free to post a comment with your question or send us an email at office at gun.deals. Please do not inquire about any of the products listed on our website as we do not sell any of the items.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--------------------- about us section end here ---------------------  -->
</div>
<!-- card section two start here  -->
<%= render partial: 'partials/middle_adds' %>
<section class="mb-4">
  <div class="container">
    <div class="row">
      <%= render partial: 'partials/bottom_cards' %>
    </div>
  </div>
</section>
