 <section>
    <div class="container">
      <div class="add-section add-banner-section">
      </div>
    </div>
  </section>
</div>
<!-- card section two start here  -->
<%= render partial: 'partials/middle_adds' %>
<section class="mb-4">
  <div class="container">
    <div class="row">
      <%= render partial: 'partials/bottom_cards' %>
    </div>
  </div>
</section>
