
  <section>
    <div class="container">
      <div class="add-section add-banner-section">
      </div>
    </div>
  </section>
  <!--------------------- FAQs section start here ---------------------  -->
  <section class="FAQs mb-4">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="card p-3">
            <div class="card__title">
              <h1>Privacy Policy and FAQ</h1>
            </div>
            <div class="card__content">
              <p>NO PERSONAL ADS, NO EBAY, NO AUCTIONS, NO PERSONAL AFFILIATE LINKS OR INVITE OFFERS, NO GIVEAWAYS OR RAFFLES.</p>
              <p>
                <b> Due to overwhelming number of posts, we are not able to approve all listings. Please do not contact us to inquire about your postings, it is up to our moderators to decide what is relevant and acceptable deal. Deals from recently opened stores with no ratings and from new visitors might not be approved to prevent scam. Gun and other Giveaways are not allowed. </b>
              </p>
              <p>Terms of Use</p>
              <p>1. You must be 18 years or older</p>
              <p>2. You understand that Gundeals.me is not liable for any purchase or misuse of any item or information that you may find on this website.</p>
              <p>3. You will not use Gundeals.me for any illegal purpose or activity.</p>
              <p>4. Posting of deals with affiliate links are prohibited and may result in a ban.</p>
              <p>
                <b>Frequently Asked Questions</b>
              </p>
              <p>For Questions Regarding Advertising and Dealer Postings please refer to our Advertising page
                <a href="#" title="https://Gundeals.me/content/dealers-advertising">https://Gundeals.me/content/dealers-advertising</a>
              </p>
              <p>Gundeals.me is a place where users and visitors share the best firearms related deals that they find across the web. Gundeals.me is not selling firearms, ammunition or accessories. We simply browse the web for the best deals available for purchase online or in retail stores. Click on "Go to Store" on the product page and it will take you to the seller's website where you may purchase that particular product.</p>
              <p>Feel free to post any deals that you come across. By typing in the UPC code or the MPN number in our search bar, verify that the price is the lowest online. Please make sure that you follow the general posting guidelines.</p>
              <p>Our website is not a place for advertisers. However, if you really offer the best deal out there feel free to post it, but limit your postings to 1 every 3 months. You must offer the absolute lowest price online to be able to post to our website. Thread bumping counts towards your total number of posts.</p>
              <p>We are not liable for any purchase or misuse of any item or information that you may find on our website.</p>
              <p>Posts that violate any of our rules will be removed without notice. Please do not email us with questions regarding posts that have disappeared or with questions that are answered here. We will not respond to those emails.</p>
              <p>
                <b>1) What is this website about?</b>
              </p>
              <p>This is an index of best deals on guns and ammo posted by users like you. We do not sell any of the products listed on our website. Deals are posted by us and our visitors throughout the day.</p>
              <p>
                <b>2) How can I contact you if I would like to purchase a product?</b>
              </p>
              <p>We do not sell any of the products. If you have a question about one of the featured products, please click on the "Go to Store" icon and forward any questions to the linked seller.</p>
              <p>
                <b>3) When I click on a product, it says it is Expired?!</b>
              </p>
              <p>Unfortunately, good deals don't last long. They either sell out fast (Sold Out stamp) or price goes up or the page disappears and we mark it with an Expired stamp.</p>
              <p>
                <b>4) How come when I click on "Go to Store" the price is more than on your website?</b>
              </p>
              <p>Prices change all the time, sometimes several times throughout the day. If you notice a price error, please click on "Report a Problem" and submit the error (expired, out of stock or other)</p>
              <p>
                <b>5) What are the stars for? </b>
              </p>
              <p>The more stars the hotter the deal is. Stars do not reflect the quality of the product, just the price. Please do not flag down or vote 1 star on a deal just because you don't like that type of a firearm or product. You can rate as many deals as you like from 1 to 5 stars. Click on the star number to rate the product. Deals that have below two stars should automatically drop of the front page. Certain number of votes is necessary for the automatic functions to kick in.</p>
              <p>
                <b>6) How can I post a deal? </b>
              </p>
              <p>You must be a registered user to post comments or deals. You do not have to register to submit problem reports. Once you register (it only takes few seconds), click on Post a Deal and you are ready to post. Please make sure that you include the link, price, image and that you select the appropriate category. Please include the manufacturer model number and UPC code if available. You may post anything hunting, firearm or outdoor related.</p>
              <p>
                <b>7) Can I post a private ad?</b>
              </p>
              <p>No. This website is exclusively for deals on new products from retailers that are widely available for most of our visitors. Preferably online deals. You are also allowed to post deals in large chain stores such are Cabela's, Gander Mountain and many more. No moms and pops stores, unless they sell online. Surplus products are also allowed, as are used products with large quantity on hand by known sellers. No private ads.</p>
              <p>
                <b>8) How can I be sure that what I'm posting is a good deal?</b>
              </p>
              <p>Before you post, search our website. Search for the model number, product number, or manufacturer name and model. If you don't find the same product on our website, or your deal has a lower price, please feel free to share the deal with the rest of us. If you find the same product on our website for the same price, leave a comment and the deal will refresh. If you find the same product on our website, but the price is now lower than it was, please leave a comment to refresh the deal.</p>
              <p>
                <b>9) I found a better deal than what is posted on your website or what the search shopping comparison feature offers</b>
              </p>
              <p>You can leave a comment on the existing post with the link toward the deal you found or you can submit it as a new deal. Make sure you calculate shipping charges as well. Some retailers have cheaper prices but extremely high shipping prices. Some have free shipping but slightly higher price. Some advertise their cash price, and charge additional fees for credit cards. Make sure you include all the additional info in the post, so that you don't mislead our visitors.</p>
              <p>
                <b>10) I have an online gun store, can I post deals that I'm offering.</b>
              </p>
              <p>As long as you offer the product cheaper than other online stores and it is not posted on our website for a lower price or our shopping comparison, you are free to post. Please limit your postings to 1 per every 3 months. There is also a paid dealer posting program, that will allow you to post more often.</p>
              <p>
                <b>11) I would like to add a video to the deal I posted</b>
              </p>
              <p>After you posted the deal, add a comment and include a Youtube video link. We will edit your post and include the video.</p>
              <p>
                <b>12) How do I add my FFL information to the FFL page.</b>
              </p>
              <p>We do not collect FFL information.</p>
              <p>
                <b>13) What if I have additional questions?</b>
              </p>
              <p>Please feel free to submit a comment with your question on the particular product, do not use "report a problem" feature for questions or additional information as we do not have a way of responding to "problem reports". Please do not inquire about any of the products listed on our website as we do not sell any of the items.</p>
              <p>
                <b>14) How does Gundeals.me make money?</b>
              </p>
              <p>Gundeals.me sells advertisement (banner ads) and paid subscriptions to dealers and vendors to list their products in shopping comparison section or posted by dealer section. Some vendors offer a modest commissions from the sales generated.</p>
              <p>
                <b id="comments-policy">Posting Guidelines </b>
              </p>
              <p>Before posting, type in the UPC code or MPN (Manufacturer Part Number) into the search bar on the top right side and verify that other stores do not offer a better price on that product.</p>
              <p>1) Title should have Product Name, Model, Amount (for ammo only) and Price. If free shipping is offered, please included that in the Title. Posts with All Caps in title will be deleted.</p>
              <p>2) Description should include: Product Number, Manufacturer Number, UPC Code, Specifications</p>
              <p>3) Attach an appropriate image</p>
              <p>4) CA Legal tag is only for firearms that are legal in California and only if the seller is willing to ship it to California. Do not check Ca Legal box for accessories and ammo.</p>
              <p>
                <b>Purchasing Firearms Online</b> (Thanks, lol Qaeda)
              </p>
              <p>Q: Can I purchase firearms online?
                <br>A: Yes, you most certainly can! The process is actually quite simple; just follow these steps:
                <br>1) Find the item you want. (Like the many deals posted here, for example!)
                <br>2) Find an FFL (Federal firearms license) holder to complete the transfer. You can't just have firearms shipped to you; they need to be shipped to an FFL holder where you can pick them up (and complete a federally-mandated background check). Most FFLs will charge a nominal fee for this; prices may vary depending on where you live. ($25 seems to be an "average" price.)
                <br>3) Get your FFL to send a copy of his license to the place that has the gun(s) you want. Usually you can do this by e-mail or fax; the website will list instructions on how to send a copy of the FFL to them. Just take this information to your FFL and he'll do the rest.
                <br>4) Place your order, making sure to indicate - either in the shipping section or comments section, usually - that you want the gun sent to the correct FFL.
                <br>5) Wait the agonizing few days for your gun to arrive. Usually your FFL will give you a call when it gets in.
                <br>6) Head on over to the FFL, fill out the paperwork (firearm transfer document and NICS or state background check - the standard charge for this is $5), and wait for the confirmation to come in... yes, you read that right; sometimes there won't be an instant "OK" and you'll have to wait a day or two for the results to come in. (You can also be denied, which is a whole 'nother issue that we won't get into here.)
                <br>7) Once the background check comes back clear and your paperwork is all filled out you're ready to take possession of your firearm(s)! PLEASE don't forget, however, to do a thorough inspection of your purchase before agreeing to take possession - if something's wrong with the gun and you refuse the transfer most reputable businesses will take the gun back at no charge and either issue a refund or send you a replacement. If you take possession and then notice a problem you'll have to deal with the manufacturer's warranty in most cases.
                <br>Good luck with your purchase!
              </p>
              <p>FFL finder
                <br>
                <a href="#" title="http://www.gunbroker.com/FFL/SearchForFFL.aspx">http://www.gunbroker.com/FFL/SearchForFFL.aspx</a>
              </p>
              <p>
                <b id="comments-policy">OFFICIAL COMMENTS POLICY</b>
              </p>
              <p>Gundeals.me is a place for all members of the sportsman's community, both private and vendor, to post information on the best deals for related items on the internet. This privately owned forum reserves the right to limit the behavior of its members. The rules will be enforced in good faith to maintain discussion quality and peer respect.</p>
              <p>While Gundeals.me believes in free speech and limited censorship, certain rules will apply to the comment utility of this forum. These rules are intended to promote good will between the forum's members and vendors and encourage useful discussion about the gun deals posted on the site. gun.deals is a moderated website and retains the right to edit or delete any information posted that is in violation of the rules or is otherwise found to be counter to the intended purpose of the forum. The comment utility of this forum is intended for users to post useful information pertaining to the deal referenced in the post. Although all opinions are allowed, not all are useful. The best postings relate first hand information on the product referenced to the the post. Posting of first hand knowledge of a product or service is encouraged but not necessary.</p>
              <p>The following behaviors and/or activities are not permitted:</p>
              <p>1. Insulting, intimidating, bullying, harassing or other disrespectful or antisocial behavior.
                <br>2. Disruptive behavior of any sort, including Trolling and Threadjacking.
                <br>3. Rants or Raves
                <br>4. Offensive language. While mild language is tolerated it is discouraged. Vulgar and obscene language will not be tolerated and will be removed.
                <br>5. Posting or linking to pornography, illegal download sites, or illegal software.
                <br>6. Posting private correspondence on the forums without expressed permission of the author.
                <br>7. More than one account or multiple registrations.
                <br>8. Discussions promoting illegal activity .
                <br>9. Discussions of ethnicity, race, religion, or other divisive issues.
                <br>10. Posting in a language other than English without a translation.
                <br>11. Posts concerning moderator's directives or decisions, and reporting or reposting of such actions. Any mention of moderator decisions or activity will be immediately deleted and the poster may be banned.
                <br>12. Posts containing copyrighted material without permission of the copyright holder.
                <br>13. Posting your deals in multiple areas on the site. Deals should be posted in their appropriate area. Moderators have the right to move subject matter to it's appropriate area if necessary.
                <br>14. Using the private messaging system to make unsolicited commercial advances or violate the rules.
                <br>15. Posting another person's private information without their consent.
                <br>16. Posting irrelevant material or spamming.
                <br>17. Intentionally posting incorrect or flagrantly dangerous information or misquoting other's posts.
                <br>Single or repeated violations of these rules may subject a user to termination of their account. While warnings may be given, termination of a users account is at the discretion of the site management. (thanks, jmillerdoc).
                <br>18. Posting of deals with affiliate links are prohibited and may result in a ban.
              </p>
              <div class="card--comments p-3 js-collapsible-card anchor card--collapsed" id="comments" data-collapsible-card="xs sm md lg">
                <div class="card__title d-none">
                  <h2 class="js-card-title">Comments (2)</h2>
                </div>
                <div class="card__content d-none">
                  <div id="comment-form-content"></div>
                  <form action="/ajax/comment/reply/1076271" accept-charset="UTF-8" method="post" id="comment-form-1" class="js-ajax-comment-form" style="display: none;">
                    <div>
                      <div style="display:none">
                        <div class="form-group">
                          <label>Your name: </label>
                          <a href="#" title="View user profile.">BirminghamPistol</a>
                        </div>
                      </div>
                      <div class="form-group">
                        <div id="comments-policy"></div>
                      </div>
                      <div class="form-group" id="edit-comment-1-wrapper">
                        <label for="edit-comment-1">Comment:
                          <span class="form-required" title="This field is required.">*</span>
                        </label>
                        <div class="resizable-textarea">
                                                                                                                                                                <span>
                                                                                                                                                                    <textarea cols="60" rows="5" name="comment" id="edit-comment-1" class="form-textarea resizable required wysiwyg form-control textarea-processed"></textarea>
                                                                                                                                                                    <div class="grippie" style="margin-right: 0px;"></div>
                                                                                                                                                                </span>
                        </div>
                      </div>
                      <ul class="tips">
                        <li>Web page addresses and e-mail addresses turn into links automatically.</li>
                        <li>Allowed HTML tags: &lt;div&gt; &lt;span&gt; &lt;table&gt; &lt;tr&gt; &lt;td&gt;
                          &lt;h1&gt; &lt;h2&gt; &lt;h3&gt; &lt;h4&gt; &lt;h5&gt; &lt;h6&gt; &lt;a&gt;
                          &lt;p&gt; &lt;table&gt; &lt;tr&gt; &lt;td&gt; &lt;em&gt; &lt;strong&gt; &lt;b&gt;
                          &lt;cite&gt; &lt;code&gt; &lt;ul&gt; &lt;ol&gt; &lt;li&gt; &lt;br&gt; &lt;dl&gt;
                          &lt;dt&gt; &lt;dd&gt; &lt;i&gt; &lt;u&gt;</li>
                        <li>Lines and paragraphs break automatically.</li>
                      </ul>
                      <p>
                        <a href="#">More information about formatting options</a>
                      </p>
                      <input type="hidden" name="form_build_id" id="form-mTHzAaUmCylTLkCmIo6WZKeMTzoRPZJ42HvudEdMFB0" value="form-mTHzAaUmCylTLkCmIo6WZKeMTzoRPZJ42HvudEdMFB0">
                      <input type="hidden" name="form_token" id="edit-form-token-1" value="a123ec0f2f5c93657fb78d48ba4e0d6d">
                      <input type="hidden" name="form_id" id="edit-comment-form-1" value="comment_form">
                      <fieldset class=" collapsible collapsed">
                        <legend class="collapse-processed">
                          <a href="#">Images</a>
                        </legend>
                        <div class="fieldset-wrapper">
                          <div class="js-dropzone dropzone dz-clickable">
                            <div class="dz-default dz-message">
                              <span>Add or drag your images here</span>
                            </div>
                          </div>
                          <input type="hidden" name="fetched_dropzone_images" id="edit-fetched-dropzone-images-1" value="">
                        </div>
                      </fieldset>
                      <div class="form-group" id="edit-notify-1-wrapper">
                        <label class="option" for="edit-notify-1">
                          <input type="checkbox" name="notify" id="edit-notify-1" value="1" checked="checked" class="form-checkbox"> Subscribe to comments, price drops and back in stock
                          notifications for this deal
                        </label>
                      </div>
                      <input type="submit" name="op" id="edit-submit-1" value="Save" class="form-submit btn btn-default btn-primary">
                    </div>
                  </form>
                  <a id="comment-1165241"></a>
                  <div class="comment comment-published clear-block" data-cid="1165241">
                    <div class="submitted">
                      <div class="submitted-info"> By
                        <a href="#" title="View user profile.">jethro_tull</a>,
                        <a href="#comment-1165241" class="comment__hyperlink">3 months ago</a>
                      </div>
                      <div class="submitted_report">
                        <a class="js-report-comment" href="#">Report</a>
                      </div>
                    </div>
                    <div class="content">
                      <div class="comment-content js-comment-content">
                        <p>Buy the Tisas GI instead. The upper grip bushing hole was stripped on mine, and the
                          extractor was adjusted incorrectly from the factory, resulting in stovepipes every
                          other round. Once I removed and adjusted the extractor, it worked fine. The included
                          magazine stovepipes on the final round, every time. Save your money.</p>
                      </div>
                      <div class="rate-widget-2 rate-widget clear-block rate-average rate-widget-thumbs_up_down_count rate-fa950b899227ef1b0da0a2e96d8dcb38 rate-processed rate-custom-processed" id="rate-comment-1165241-2-1">
                        <div class="votes-up-down-widget">
                          <div class="thumb-up">
                            <div class="" title="100%">
                              <a class="rate-button rate-thumbs-up-down-btn-up" id="rate-button-7" rel="nofollow" href="#">up</a>
                            </div>
                            <div class="percent">1 vote</div>
                          </div>
                          <div class="thumb-down">
                            <div title="0%">
                              <a class="rate-button rate-thumbs-up-down-btn-down" id="rate-button-8" rel="nofollow" href="#">down</a>
                            </div>
                            <div class="percent">0 votes</div>
                          </div>
                          <div class="voting-results-link">
                            <a href="#">View score</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <ul class="links">
                      <li class="comment_reply first last">
                        <a href="#">reply</a>
                      </li>
                    </ul>
                  </div>
                  <div class="indented">
                    <a id="comment-1171131"></a>
                    <div class="comment comment-published clear-block" data-cid="1171131">
                      <div class="submitted">
                        <div class="submitted-info"> By
                          <a href="#" title="View user profile.">Cole982</a>,
                          <a href="#comment-1171131" class="comment__hyperlink">1 month ago</a>
                        </div>
                        <div class="submitted_report">
                          <a class="js-report-comment" href="#">Report</a>
                        </div>
                      </div>
                      <div class="content">
                        <div class="comment-content js-comment-content">
                          <p>Sounds like a quick and easy fix by adjusting the extractor and using better
                            mags. It’s a $360 1911. If issues like that are a deal breaker for you, the
                            Tisas likely won’t fare much better. Personally, I’d take the one made in Italy
                            over the one made in Turkey.</p>
                        </div>
                        <div class="rate-widget-2 rate-widget clear-block rate-average rate-widget-thumbs_up_down_count rate-0dbfe68b512e9ad1fd0af49bdf469686 rate-processed rate-custom-processed" id="rate-comment-1171131-2-1">
                          <div class="votes-up-down-widget">
                            <div class="thumb-up">
                              <div class="" title="0%">
                                <a class="rate-button rate-thumbs-up-down-btn-up" id="rate-button-11" rel="nofollow" href="#">up</a>
                              </div>
                              <div class="percent">0 votes</div>
                            </div>
                            <div class="thumb-down">
                              <div title="100%">
                                <a class="rate-button rate-thumbs-up-down-btn-down" id="rate-button-12" rel="nofollow" href="#">down</a>
                              </div>
                              <div class="percent">1 vote</div>
                            </div>
                            <div class="voting-results-link">
                              <a href="#">View
                                score</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <ul class="links">
                        <li class="comment_reply first last">
                          <a href="#">reply</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="box">
                    <h2>Post new comment</h2>
                    <div class="content">
                      <form action="/ajax/comment/reply/1076271" accept-charset="UTF-8" method="post" id="comment-form" class="js-ajax-comment-form">
                        <div>
                          <div style="display:none">
                            <div class="form-group">
                              <label>Your name: </label>
                              <a href="#" title="View user profile.">BirminghamPistol</a>
                            </div>
                          </div>
                          <div class="form-group">
                            <div id="comments-policy"></div>
                          </div>
                          <div class="form-group" id="edit-comment-wrapper">
                            <label for="edit-comment">Comment:
                              <span class="form-required" title="This field is required.">*</span>
                            </label>
                            <div class="resizable-textarea">
                                                                                                                                                                        <span>
                                                                                                                                                                            <textarea cols="60" rows="5" name="comment" id="edit-comment" class="form-textarea resizable required wysiwyg form-control textarea-processed"></textarea>
                                                                                                                                                                            <div class="grippie" style="margin-right: 0px;"></div>
                                                                                                                                                                        </span>
                            </div>
                          </div>
                          <ul class="tips">
                            <li>Web page addresses and e-mail addresses turn into links automatically.</li>
                            <li>Allowed HTML tags: &lt;div&gt; &lt;span&gt; &lt;table&gt; &lt;tr&gt;
                              &lt;td&gt; &lt;h1&gt; &lt;h2&gt; &lt;h3&gt; &lt;h4&gt; &lt;h5&gt; &lt;h6&gt;
                              &lt;a&gt; &lt;p&gt; &lt;table&gt; &lt;tr&gt; &lt;td&gt; &lt;em&gt;
                              &lt;strong&gt; &lt;b&gt; &lt;cite&gt; &lt;code&gt; &lt;ul&gt; &lt;ol&gt;
                              &lt;li&gt; &lt;br&gt; &lt;dl&gt; &lt;dt&gt; &lt;dd&gt; &lt;i&gt; &lt;u&gt;
                            </li>
                            <li>Lines and paragraphs break automatically.</li>
                          </ul>
                          <p>
                            <a href="#">More information about formatting options</a>
                          </p>
                          <input type="hidden" name="form_build_id" id="form-mHD9hWW6AfpichtQut1i9KdoOcGkEQL5bwTNa4VFE-w" value="form-mHD9hWW6AfpichtQut1i9KdoOcGkEQL5bwTNa4VFE-w">
                          <input type="hidden" name="form_token" id="edit-form-token" value="a123ec0f2f5c93657fb78d48ba4e0d6d">
                          <input type="hidden" name="form_id" id="edit-comment-form" value="comment_form">
                          <fieldset class=" collapsible collapsed">
                            <legend class="collapse-processed">
                              <a href="#">Images</a>
                            </legend>
                            <div class="fieldset-wrapper">
                              <div class="js-dropzone dropzone dz-clickable">
                                <div class="dz-default dz-message">
                                  <span>Add or drag your images here</span>
                                </div>
                              </div>
                              <input type="hidden" name="fetched_dropzone_images" id="edit-fetched-dropzone-images" value="">
                            </div>
                          </fieldset>
                          <div class="form-group" id="edit-notify-wrapper">
                            <label class="option" for="edit-notify">
                              <input type="checkbox" name="notify" id="edit-notify" value="1" checked="checked" class="form-checkbox"> Subscribe to comments, price
                              drops and back in stock notifications for this deal
                            </label>
                          </div>
                          <input type="submit" name="op" id="edit-submit" value="Save" class="form-submit btn btn-default btn-primary">
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <button class="card__collapsed-title btn-block text-left d-flex justify-content-between" tabindex="0">
                  <div>Comments (2)</div>
                  <div><i class="card__caret fa fa-caret-down"></i></div>
                </button>

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!--------------------- FAQS section end here ---------------------  -->

</div>
<!-- card section two start here  -->
<%= render partial: 'partials/middle_adds' %>
<section class="mb-4">
  <div class="container">
    <div class="row">
      <%= render partial: 'partials/bottom_cards' %>
    </div>
  </div>
</section>