<section>
  <div class="container">
    <div class="add-section add-banner-section">
    </div>
  </div>
</section>




<section class="mt-0 mb-5 review___youtube">
  <div class="container">
    <div class="card p-4">
     <div class="youtube__review__heaidng">
       <h3>Youtube Review</h3>
      <b> <p>Add YouTube reviews for BLACK ACES TACTICAL PRO SERIES SMAX SGA 12GA 18.5IN BBL BLK PAINTED WALNUT
       </p></b>
     </div>
      <div class="form__review">
        <div class="form-group">
          <labe for="yLink" class="mb-2">Add Youtube Link</labe>
          <input type="url" name="" id="yLink" class="form-control mt-1" placeholder="Add youtbe Video Link">
        </div>
        <div class="add__more"><a href="#">Add More</a> </div>
        <div class="form_review--btn mt-3">
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </div>
    </div>

  </div>
</section>
